Repository leegyeongyoon/honbabnono: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, comprehensive-api-tests, auth-tests, meetup-tests, payment-tests, chat-tests, admin-upload-tests

.pre-commit-config.yaml:

# Pre-commit configuration for automated testing
repos:
  # JavaScript/Node.js linting and testing
  - repo: local
    hooks:
      # ESLint for code style
      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        files: \.(js|jsx|ts|tsx)$
        exclude: node_modules/
      
      # Unit tests
      - id: unit-tests
        name: Unit Tests
        entry: npm run test:unit
        language: node
        pass_filenames: false
        always_run: true
        
      # Comprehensive API tests
      - id: comprehensive-api-tests
        name: Comprehensive API Tests
        entry: NODE_ENV=test npm test tests/comprehensive-api.test.js
        language: node  
        pass_filenames: false
        files: ^(server/|tests/).*\.(js|ts)$

      # Authentication tests
      - id: auth-tests
        name: Authentication Tests
        entry: NODE_ENV=test npm test tests/auth-detailed.test.js
        language: node
        pass_filenames: false
        files: ^(server/.*auth|tests/.*auth).*\.(js|ts)$

      # Meetup API tests
      - id: meetup-tests
        name: Meetup API Tests
        entry: NODE_ENV=test npm test tests/meetup-detailed.test.js
        language: node
        pass_filenames: false
        files: ^(server/.*meetup|tests/.*meetup).*\.(js|ts)$

      # Payment & Points tests
      - id: payment-tests
        name: Payment & Points Tests
        entry: NODE_ENV=test npm test tests/payment-points.test.js
        language: node
        pass_filenames: false
        files: ^(server/.*(payment|point)|tests/.*(payment|point)).*\.(js|ts)$

      # Chat API tests
      - id: chat-tests
        name: Chat API Tests
        entry: NODE_ENV=test npm test tests/chat-api.test.js
        language: node
        pass_filenames: false
        files: ^(server/.*chat|tests/.*chat).*\.(js|ts)$

      # Admin & Upload tests
      - id: admin-upload-tests
        name: Admin & Upload Tests
        entry: NODE_ENV=test npm test tests/admin-upload.test.js
        language: node
        pass_filenames: false
        files: ^(server/.*(admin|upload)|tests/.*(admin|upload)).*\.(js|ts)$
        
      # Test coverage check with threshold
      - id: coverage-check
        name: Coverage Check (70% minimum)
        entry: bash -c 'npm run test:coverage && COVERAGE=$(npx nyc report --reporter=text-summary | grep "Lines" | grep -o "[0-9.]*%" | head -1 | sed "s/%//"); if (( $(echo "$COVERAGE < 70" | bc -l) )); then echo "âŒ Coverage ${COVERAGE}% below 70% threshold"; exit 1; fi'
        language: node
        pass_filenames: false
        always_run: true

  # Generic hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      # Basic file checks
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      
      # Security checks
      - id: detect-private-key
      - id: check-case-conflict
      
      # Large file prevention
      - id: check-added-large-files
        args: ['--maxkb=1000']

# Global configuration
default_language_version:
  node: 20

fail_fast: false

# Minimum coverage thresholds (can be adjusted)
ci:
  skip: [unit-tests, api-tests, coverage-check]

feat: AI 검색 UI/UX 대폭 개선 및 자동 검색 기능 구현
  src/screens/AISearchResultScreen.web.tsx
  src/screens/HomeScreen.web.tsx
Due: eslint

chore: 밥알이 AI 캐릭터 아이콘 크기 개선
  public/images/rice-character.png
  public/images/rice-character2.png
  src/screens/AISearchResultScreen.web.tsx
  src/screens/HomeScreen.web.tsx
  src/screens/SearchScreen.web.tsx
Due: eslint

fix: 개발 배포에서 밥알이 이미지가 안 보이는 문제 해결
  dist/bundle.js
  dist/bundle.js.LICENSE.txt
  dist/images/rice-character.f67b3ed4a38c2b8ca8f2.png
  dist/index.html
  src/assets/images/rice-character.png
  src/screens/AISearchResultScreen.web.tsx
  src/screens/HomeScreen.web.tsx
  src/screens/SearchScreen.web.tsx
  src/types/images.d.ts
  webpack.config.js
Due: eslint

fix: Webpack 이미지 로더 설정 수정하여 개발서버 오류 해결
  package-lock.json
  package.json
  webpack.config.js
Due: eslint

feat: React Native iOS 빌드 환경 설정 및 네이티브 브릿지 기능 구현
  .expo/prebuild/cached-packages.json
  .expo/xcodebuild-error.log
  .expo/xcodebuild.log
  App.hybrid.tsx
  BUILD_GUIDE.md
  RUN.md
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/res/values/strings.xml
  app.json
  assets/adaptive-icon.png
  assets/favicon.ico
  assets/icon.png
  assets/splash.html
  assets/splash.png
  babel.config.js
  dev-start.sh
  ios/HonbabnonoApp.xcodeproj/project.pbxproj
  ios/HonbabnonoApp.xcworkspace/contents.xcworkspacedata
  ios/HonbabnonoApp.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  ios/HonbabnonoApp/AppDelegate.swift
  ios/HonbabnonoApp/GoogleService-Info.plist
  ios/HonbabnonoApp/Info.plist
  ios/HonbabnonoApp/PrivacyInfo.xcprivacy
  ios/Podfile
  ios/Podfile.lock
  metro.config.js
  package-lock.json
  package.json
  run-ios.sh
  src/components/Popup.tsx
  src/hooks/usePopup.ts
  src/screens/HomeScreen.tsx
  src/screens/HomeScreen.web.tsx
  src/services/apiClient.ts
  src/utils/nativeBridge.ts
  web.html
  web/index.html
Due: eslint

feat: 모임 생성 폼 나이 설정 UI/UX 개선 및 iOS 알림 기능 구현
  App.debug.tsx
  App.tsx
  ios/HonbabnonoApp/AppDelegate.swift
  ios/HonbabnonoApp/NativeBridgeModule.m
  ios/HonbabnonoApp/SimpleNotificationModule.h
  ios/HonbabnonoApp/SimpleNotificationModule.m
  ios/Podfile.lock
  package-lock.json
  package.json
  src/components/NotificationBanner.tsx
  src/hooks/useNotificationBanner.ts
  src/screens/CreateMeetupScreen.web.tsx
  src/screens/CreateMeetupWizard.web.tsx
  src/screens/HomeScreen.tsx
  src/screens/HomeScreen.web.tsx
  src/screens/NotificationTestScreen.tsx
  src/utils/nativeBridge.ts
Due: eslint

fix: 불필요한 알림 배너 제거 및 알림 테스트 기능 최적화
  src/screens/HomeScreen.tsx
Due: eslint

fix: 앱 시작 시 자동 테스트 알림 제거
  App.tsx
Due: eslint

fix: 관리자 패널 인증 및 대시보드 데이터 수정
  admin/src/components/AdminManagement.tsx
  admin/src/components/AdvertisementManagement.tsx
  admin/src/components/BlockedUserManagement.tsx
  admin/src/components/ChatbotSettings.tsx
  admin/src/components/Dashboard.tsx
  admin/src/components/MeetupManagement.tsx
  admin/src/components/NoticeManagement.tsx
  admin/src/components/Reports.tsx
  admin/src/components/Settings.tsx
  admin/src/components/UserManagement.tsx
  admin/src/utils/api.ts
  backend/src/routes/admin.js
Due: eslint

feat: 카카오맵 통합 컴포넌트 및 관리자 연구 에이전트 추가
  App.tsx
  admin/src/App.tsx
  admin/src/components/Login.tsx
  admin/src/components/ResearchAgent.tsx
  backend/admin/package-lock.json
  backend/admin/package.json
  backend/admin/src/components/Login.tsx
  backend/admin/src/components/ResearchAgent.tsx
  backend/admin/src/components/ResearchAgent.tsx.bak
  backend/package-lock.json
  backend/package.json
  backend/src/routes/research.js
  backend/src/server.js
  public/kakao-map.html
  public/kakao-test.html
  src/components/KakaoMapModal.tsx
  src/components/KakaoMapPicker.tsx
  src/components/UniversalKakaoMap.tsx
  src/components/WebViewKakaoMap.tsx
  src/screens/CreateMeetupWizard.web.tsx
  src/screens/HomeScreen.tsx
  src/screens/MapTestScreen.tsx
Due: eslint

fix: 리서치 에이전트 타임아웃 오류 해결
  admin/src/components/ResearchAgent.tsx
  backend/src/routes/research.js
Due: eslint

feat: 고급 리서치 파이프라인 구현
  admin/src/App.tsx
  admin/src/components/AdvancedResearch.tsx
  backend/src/routes/advanced-research.js
  backend/src/server.js
Due: eslint

fix: 고급 리서치 파이프라인 OpenAI API 응답 처리 개선
  backend/src/routes/advanced-research.js
Due: eslint

refactor: 리서치 파이프라인을 홍보가 아닌 혼밥 문화 콘텐츠 중심으로 개편
  admin/src/components/AdvancedResearch.tsx
  backend/src/routes/advanced-research.js
Due: eslint

feat: 리서치 파이프라인을 토론/논쟁 유발 콘텐츠 생성으로 전환
  backend/src/routes/advanced-research.js
Due: eslint

feat: 관리자 패널 고급 리서치 GPT-4o 모델 업그레이드
  backend/src/routes/advanced-research.js
Due: eslint

feat: 인스타그램 캡션을 텍스트 카드 이미지로 자동 생성
  admin/src/components/AdvancedResearch.tsx
  backend/package-lock.json
  backend/package.json
  backend/src/routes/advanced-research.js
Due: eslint

feat: 관리자 패널 해시태그 생성 기능 및 API 엔드포인트 통합
  admin/src/components/AdvancedResearch.tsx
  server/index.js
  server/routes/advanced-research.js
Due: eslint, comprehensive-api-tests

chore: AWS SSL 인증서 ARN 업데이트
  DEPLOYMENT_GUIDE.md
  terraform/domain.tf
Due: none

fix: Terraform ACM 인증서 data 소스 충돌 해결
  terraform/domain.tf
  terraform/outputs.tf
Due: none

fix: Docker 프로덕션 빌드에서 npm 의존성 설치 오류 해결
  Dockerfile
Due: none

fix: npm 의존성 설치 문제를 위한 .npmrc 설정 및 Docker 빌드 개선
  .npmrc
  Dockerfile
Due: none

fix: admin 패널 API 엔드포인트 환경별 동적 설정
  admin/src/utils/api.ts
Due: eslint

fix: 프로덕션 관리자 패널 API 엔드포인트 수정
  Dockerfile
Due: none

fix: 관리자 로그인 API 엔드포인트 수정
  admin/src/components/Login.tsx
Due: eslint

fix: 관리자 패널 API URL 런타임 동적 설정
  admin/src/components/Login.tsx
  admin/src/utils/api.ts
Due: eslint

fix: admin Docker 빌드 오류 해결
  admin/.npmrc
  admin/Dockerfile
Due: none

fix: admin Docker Node.js 버전 호환성 문제 해결
  admin/Dockerfile
Due: none

fix: admin API_BASE_URL 중복 export 오류 해결
  admin/src/utils/api.ts
Due: eslint

fix: admin Login.tsx TypeScript 타입 오류 해결
  admin/src/components/Login.tsx
Due: eslint

feat: AWS 비용 최적화 대폭 개선
  COST_OPTIMIZATION_GUIDE.md
  terraform/cloudwatch-optimization.tf
  terraform/cost-optimization.tf
  terraform/main.tf
  terraform/nat-gateway-analysis.tf
  terraform/rds-optimization.tf
Due: none

fix: terraform 중복 리소스 정의 오류 해결
  terraform/cloudwatch-optimization.tf
  terraform/cost-optimization.tf
Due: none

feat: Public IPv4 주소 비용 분석 및 최적화 가이드 추가
  terraform/public-ip-optimization.tf
Due: none

feat: VPC 및 Public IP 사용 현황 상세 분석 도구 추가
  check-current-ips.md
  terraform/vpc-analysis.tf
Due: none

fix: terraform 배포 오류들 수정
  terraform/cost-optimization.tf
  terraform/public-ip-optimization.tf
  terraform/vpc-analysis.tf
Due: none

fix: terraform 배포 문제 해결 - 복잡한 분석 파일 제거
  terraform/public-ip-optimization.tf
  terraform/simple-cost-summary.tf
  terraform/vpc-analysis.tf
Due: none

fix: terraform 로컬 테스트 완료 및 구문 검증 성공
  terraform/.terraform.lock.hcl
  terraform/admin-services.tf
  terraform/cloudwatch-optimization.tf
  terraform/cost-optimization.tf
  terraform/main.tf
  terraform/nat-gateway-analysis.tf
  terraform/outputs.tf
  terraform/rds-optimization.tf
  terraform/resource-validation.tf
  terraform/simple-cost-summary.tf
  terraform/start_rds.zip
  terraform/stop_rds.zip
  terraform/terraform.tfvars
  terraform/variables.tf
Due: none

fix: terraform state lock 해제 추가 - 로컬 테스트 후 잔류한 lock 문제 해결
  .github/workflows/deploy.yml
Due: none

fix: PostgreSQL 버전 13.16으로 업데이트 - AWS에서 지원하는 최신 안정 버전
  terraform/rds-optimization.tf
Due: none

fix: PostgreSQL 버전 14.13으로 업데이트 - AWS RDS 지원 확인된 버전
  terraform/rds-optimization.tf
Due: none
