Repository leegyeongyoon/honbabnono: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, comprehensive-api-tests, auth-tests, meetup-tests, payment-tests, chat-tests, admin-upload-tests

.pre-commit-config.yaml:

# Pre-commit configuration for automated testing
repos:
  # JavaScript/Node.js linting and testing
  - repo: local
    hooks:
      # ESLint for code style
      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        files: \.(js|jsx|ts|tsx)$
        exclude: node_modules/
      
      # Unit tests
      - id: unit-tests
        name: Unit Tests
        entry: npm run test:unit
        language: node
        pass_filenames: false
        always_run: true
        
      # Comprehensive API tests
      - id: comprehensive-api-tests
        name: Comprehensive API Tests
        entry: NODE_ENV=test npm test tests/comprehensive-api.test.js
        language: node  
        pass_filenames: false
        files: ^(server/|tests/).*\.(js|ts)$

      # Authentication tests
      - id: auth-tests
        name: Authentication Tests
        entry: NODE_ENV=test npm test tests/auth-detailed.test.js
        language: node
        pass_filenames: false
        files: ^(server/.*auth|tests/.*auth).*\.(js|ts)$

      # Meetup API tests
      - id: meetup-tests
        name: Meetup API Tests
        entry: NODE_ENV=test npm test tests/meetup-detailed.test.js
        language: node
        pass_filenames: false
        files: ^(server/.*meetup|tests/.*meetup).*\.(js|ts)$

      # Payment & Points tests
      - id: payment-tests
        name: Payment & Points Tests
        entry: NODE_ENV=test npm test tests/payment-points.test.js
        language: node
        pass_filenames: false
        files: ^(server/.*(payment|point)|tests/.*(payment|point)).*\.(js|ts)$

      # Chat API tests
      - id: chat-tests
        name: Chat API Tests
        entry: NODE_ENV=test npm test tests/chat-api.test.js
        language: node
        pass_filenames: false
        files: ^(server/.*chat|tests/.*chat).*\.(js|ts)$

      # Admin & Upload tests
      - id: admin-upload-tests
        name: Admin & Upload Tests
        entry: NODE_ENV=test npm test tests/admin-upload.test.js
        language: node
        pass_filenames: false
        files: ^(server/.*(admin|upload)|tests/.*(admin|upload)).*\.(js|ts)$
        
      # Test coverage check with threshold
      - id: coverage-check
        name: Coverage Check (70% minimum)
        entry: bash -c 'npm run test:coverage && COVERAGE=$(npx nyc report --reporter=text-summary | grep "Lines" | grep -o "[0-9.]*%" | head -1 | sed "s/%//"); if (( $(echo "$COVERAGE < 70" | bc -l) )); then echo "âŒ Coverage ${COVERAGE}% below 70% threshold"; exit 1; fi'
        language: node
        pass_filenames: false
        always_run: true

  # Generic hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      # Basic file checks
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      
      # Security checks
      - id: detect-private-key
      - id: check-case-conflict
      
      # Large file prevention
      - id: check-added-large-files
        args: ['--maxkb=1000']

# Global configuration
default_language_version:
  node: 20

fail_fast: false

# Minimum coverage thresholds (can be adjusted)
ci:
  skip: [unit-tests, api-tests, coverage-check]

fix: 008 데이터 마이그레이션 구컬럼 의존 방어 + db-migrate sync_and_apply 모드
  .github/workflows/db-migrate.yml
  server/migrations/008_schema_reconciliation.sql
Due: none

chore: db-migrate 검증 SQL을 앱 컨테이너 DB풀 경유로 (postgres 컨테이너명 의존 제거)
  .github/workflows/db-migrate.yml
Due: none

feat(merchant): 디자인 시스템 기반 — theme + 상태색 중앙맵 + 공통 컴포넌트
  merchant/src/App.tsx
  merchant/src/components/common/EmptyState.tsx
  merchant/src/components/common/LoadingSkeleton.tsx
  merchant/src/components/common/PageHeader.tsx
  merchant/src/components/common/SectionCard.tsx
  merchant/src/components/common/StatCard.tsx
  merchant/src/components/common/StatusChip.tsx
  merchant/src/components/common/index.ts
  merchant/src/theme-augment.d.ts
  merchant/src/theme.ts
Due: eslint

feat(admin): 디자인 시스템 기반 — theme + format + 공통 컴포넌트 + 사이드바 재구조
  admin/src/App.tsx
  admin/src/components/common/EmptyState.tsx
  admin/src/components/common/LoadingSkeleton.tsx
  admin/src/components/common/PageHeader.tsx
  admin/src/components/common/ResponsiveTableContainer.tsx
  admin/src/components/common/StatCard.tsx
  admin/src/components/common/StatusChip.tsx
  admin/src/components/common/index.ts
  admin/src/theme.ts
  admin/src/utils/format.ts
Due: eslint

feat(merchant): 전 화면 디자인 시스템 적용 — 13개 컴포넌트 토큰화
  merchant/src/components/ChatInbox.tsx
  merchant/src/components/Dashboard.tsx
  merchant/src/components/Login.tsx
  merchant/src/components/MenuManagement.tsx
  merchant/src/components/MerchantRegister.tsx
  merchant/src/components/MerchantSettings.tsx
  merchant/src/components/OrderManagement.tsx
  merchant/src/components/ReservationBoard.tsx
  merchant/src/components/ReviewManagement.tsx
  merchant/src/components/SettlementHistory.tsx
  merchant/src/components/Signup.tsx
  merchant/src/components/StoreInfo.tsx
  merchant/src/components/StoreRegister.tsx
Due: eslint

feat(admin): 전 화면 디자인 시스템 적용 — Dashboard 재구성 + 21개 컴포넌트 토큰화
  admin/src/components/AdminManagement.tsx
  admin/src/components/AdvertisementManagement.tsx
  admin/src/components/BadgeManagement.tsx
  admin/src/components/BlockedUserManagement.tsx
  admin/src/components/ChatManagement.tsx
  admin/src/components/ChatbotSettings.tsx
  admin/src/components/Dashboard.tsx
  admin/src/components/DepositManagement.tsx
  admin/src/components/Login.tsx
  admin/src/components/MeetupManagement.tsx
  admin/src/components/MerchantManagement.tsx
  admin/src/components/NoticeManagement.tsx
  admin/src/components/NotificationManagement.tsx
  admin/src/components/PaymentManagement.tsx
  admin/src/components/Reports.tsx
  admin/src/components/ReservationMonitoring.tsx
  admin/src/components/RestaurantManagement.tsx
  admin/src/components/ReviewManagement.tsx
  admin/src/components/Settings.tsx
  admin/src/components/SettlementManagement.tsx
  admin/src/components/SupportManagement.tsx
  admin/src/components/UserManagement.tsx
Due: eslint

test: UI 시각 검증용 스크린샷 캡처 (SHOT env 가드)
  e2e/capture-ui.spec.ts
Due: eslint

fix: UI 리뷰로 발견한 데이터 표시 버그 수정
  admin/src/components/MeetupManagement.tsx
  admin/src/components/Reports.tsx
  admin/src/components/UserManagement.tsx
  merchant/src/components/Dashboard.tsx
  merchant/src/components/MenuManagement.tsx
  server/modules/menus/controller.js
Due: eslint, comprehensive-api-tests

chore: 배포 파이프라인 진단 워크플로우 (경로 불일치/코드 미반영 조사)
  .github/workflows/diagnose-deploy.yml
Due: none

fix(ci): RPi 배포 빌드를 detach+폴링으로 — SSH broken pipe 내성
  .github/workflows/deploy-rpi.yml
Due: none

fix: 점주 앱 로그인 500 — CORS가 merchant.eattable.kr origin 거부
  e2e/debug-merchant-login.spec.ts
  server/index.js
  tests/unit/cors.test.js
Due: eslint, comprehensive-api-tests

chore: 긴급 server 핫픽스 워크플로우 (재배포 없이 코드 주입+재시작)
  .github/workflows/hotfix-server.yml
Due: none

fix(ci): 핫픽스 워크플로우 — 죽은 컨테이너도 compose up으로 살린 뒤 주입
  .github/workflows/hotfix-server.yml
Due: none

docs: 도메인별 데모 계정 정리 (DEMO-ACCOUNTS.md)
  docs/DEMO-ACCOUNTS.md
Due: none

chore: 진단 워크플로우에 RPi compose/env/docker 현황 출력 추가
  .github/workflows/diagnose-deploy.yml
Due: none

feat(ci): GHCR 기반 배포로 전환 — arm64 러너 빌드 + RPi pull
  .github/workflows/deploy-rpi.yml
  Dockerfile
  docker-compose.prod.yml
Due: none

fix(ci): RPi 이미지 pull도 detach+폴링 — pull 중 SSH 끊김 회피
  .github/workflows/deploy-rpi.yml
Due: none

fix: 도착 상태(arrival_status) 단일 상수 통일 — 깨진 고객 도착 버튼 복구
  merchant/src/theme.ts
  server/constants/arrivalStatus.js
  server/middleware/schemas/reservations.schemas.js
  server/modules/reservations/controller.js
  src/constants/arrivalStatus.ts
Due: eslint, comprehensive-api-tests

feat(arrival): 도착 예정 보드 — 서버 조건부UPDATE+점주알림, 점주보드 강조/beep
  merchant/src/components/ReservationBoard.tsx
  merchant/src/hooks/useRestaurantSocket.ts
  server/modules/reservations/controller.js
Due: eslint, comprehensive-api-tests

refactor: v1(모임/밥알지수/약속금) 잔재 제거 — 웹 + 관리자
  admin/src/App.tsx
  admin/src/components/BadgeManagement.tsx
  admin/src/components/Dashboard.tsx
  admin/src/components/DepositManagement.tsx
  admin/src/components/MeetupManagement.tsx
  src/components/RouterApp.tsx
  src/screens/MyPageScreen.web.tsx
  src/screens/SettingsScreen.web.tsx
Due: eslint

feat(arrival): 고객 도착 단계 버튼 — 가는중→근처→도착
  e2e/capture-prod.spec.ts
  src/screens/MyReservationsScreen.web.tsx
  src/screens/ReservationConfirmScreen.web.tsx
Due: eslint

feat(reservation): 예약 변경 API + 취소 미리보기 + computeRefund 단일화
  server/middleware/schemas/reservations.schemas.js
  server/modules/reservations/controller.js
  server/modules/reservations/routes.js
  server/modules/reservations/socket.js
  server/utils/helpers.js
Due: eslint, comprehensive-api-tests

feat(search): 검색 고도화 백엔드 — 거리/가격/평점/예약가능 필터 + 거리정렬
  server/middleware/schemas/restaurants.schemas.js
  server/modules/restaurants/controller.js
Due: eslint, comprehensive-api-tests

feat(reservation): 취소 미리보기·예약 변경·환불정책 UI (고객 웹)
  src/screens/MyReservationsScreen.web.tsx
  src/screens/ReservationFormScreen.web.tsx
  src/services/restaurantApiService.ts
  src/store/reservationStore.ts
Due: eslint

feat(retention): 리뷰요청 푸시 + 시간대/요일 통계 + 단골 관리 API
  server/modules/reservations/controller.js
  server/modules/settlements/controller.js
  server/modules/settlements/routes.js
Due: eslint, comprehensive-api-tests

feat(merchant): 월간 캘린더 + 시간대/요일 매출 차트 + 단골 관리
  merchant/src/App.tsx
  merchant/src/components/Dashboard.tsx
  merchant/src/components/RegularCustomers.tsx
  merchant/src/components/ReservationBoard.tsx
Due: eslint

feat(search): 검색 지도뷰 + 필터바 UI (고객 웹)
  src/screens/SearchRestaurantsScreen.web.tsx
  src/services/restaurantApiService.ts
Due: eslint

feat(native): v2 외식예약 네이티브(RN) 화면 + 네비 전환
  src/navigation/RootNavigator.tsx
  src/navigation/TabNavigator.tsx
  src/navigation/routes.ts
  src/screens/MyReservationsScreen.tsx
  src/screens/ReservationConfirmScreen.tsx
  src/screens/ReservationFormScreen.tsx
  src/screens/RestaurantDetailScreen.tsx
  src/screens/RestaurantHomeScreen.tsx
  src/screens/SearchRestaurantsScreen.tsx
  src/services/restaurantApiService.ts
  src/types/navigation.ts
Due: eslint

feat(validation): 가짜문(Fake Door) 선결제 수용률 검증 — 랜딩 + 퍼널 추적
  server/index.js
  server/middleware/schemas/landing.schemas.js
  server/migrations/109_landing_validation.sql
  server/modules/admin/controller.js
  server/modules/admin/routes.js
  server/modules/landing/controller.js
  server/modules/landing/routes.js
  src/components/RouterApp.tsx
  src/constants/fakeStores.ts
  src/screens/FakeDoorLanding.web.tsx
  src/services/landingApiService.ts
Due: eslint, comprehensive-api-tests, admin-upload-tests

feat(admin): 퍼널 검증 대시보드 — 깔때기/전환율/variant 수용률/리드
  admin/src/App.tsx
  admin/src/components/FunnelDashboard.tsx
Due: eslint

feat(validation): 채널 출처(src) 추적 + 런칭 콘텐츠 킷
  docs/marketing/launch-kit.md
  src/screens/FakeDoorLanding.web.tsx
Due: eslint

feat(validation): 일일 퍼널 리포트 이메일 자동화 (GitHub Actions cron)
  .github/workflows/daily-funnel-report.yml
Due: none

feat(validation): 일일 리포트 무인화 — GitHub Issue 채널(SMTP 불필요)
  .github/workflows/daily-funnel-report.yml
Due: none

chore(infra): 프로덕션 임시 중단 워크플로 (stop/start, 데이터 보존)
  .github/workflows/deploy-rpi.yml
  .github/workflows/stop-prod.yml
Due: none
