Repository leegyeongyoon/honbabnono: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, comprehensive-api-tests, auth-tests, meetup-tests, payment-tests, chat-tests, admin-upload-tests

.pre-commit-config.yaml:

# Pre-commit configuration for automated testing
repos:
  # JavaScript/Node.js linting and testing
  - repo: local
    hooks:
      # ESLint for code style
      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        files: \.(js|jsx|ts|tsx)$
        exclude: node_modules/
      
      # Unit tests
      - id: unit-tests
        name: Unit Tests
        entry: npm run test:unit
        language: node
        pass_filenames: false
        always_run: true
        
      # Comprehensive API tests
      - id: comprehensive-api-tests
        name: Comprehensive API Tests
        entry: NODE_ENV=test npm test tests/comprehensive-api.test.js
        language: node  
        pass_filenames: false
        files: ^(server/|tests/).*\.(js|ts)$

      # Authentication tests
      - id: auth-tests
        name: Authentication Tests
        entry: NODE_ENV=test npm test tests/auth-detailed.test.js
        language: node
        pass_filenames: false
        files: ^(server/.*auth|tests/.*auth).*\.(js|ts)$

      # Meetup API tests
      - id: meetup-tests
        name: Meetup API Tests
        entry: NODE_ENV=test npm test tests/meetup-detailed.test.js
        language: node
        pass_filenames: false
        files: ^(server/.*meetup|tests/.*meetup).*\.(js|ts)$

      # Payment & Points tests
      - id: payment-tests
        name: Payment & Points Tests
        entry: NODE_ENV=test npm test tests/payment-points.test.js
        language: node
        pass_filenames: false
        files: ^(server/.*(payment|point)|tests/.*(payment|point)).*\.(js|ts)$

      # Chat API tests
      - id: chat-tests
        name: Chat API Tests
        entry: NODE_ENV=test npm test tests/chat-api.test.js
        language: node
        pass_filenames: false
        files: ^(server/.*chat|tests/.*chat).*\.(js|ts)$

      # Admin & Upload tests
      - id: admin-upload-tests
        name: Admin & Upload Tests
        entry: NODE_ENV=test npm test tests/admin-upload.test.js
        language: node
        pass_filenames: false
        files: ^(server/.*(admin|upload)|tests/.*(admin|upload)).*\.(js|ts)$
        
      # Test coverage check with threshold
      - id: coverage-check
        name: Coverage Check (70% minimum)
        entry: bash -c 'npm run test:coverage && COVERAGE=$(npx nyc report --reporter=text-summary | grep "Lines" | grep -o "[0-9.]*%" | head -1 | sed "s/%//"); if (( $(echo "$COVERAGE < 70" | bc -l) )); then echo "âŒ Coverage ${COVERAGE}% below 70% threshold"; exit 1; fi'
        language: node
        pass_filenames: false
        always_run: true

  # Generic hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      # Basic file checks
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      
      # Security checks
      - id: detect-private-key
      - id: check-case-conflict
      
      # Large file prevention
      - id: check-added-large-files
        args: ['--maxkb=1000']

# Global configuration
default_language_version:
  node: 20

fail_fast: false

# Minimum coverage thresholds (can be adjusted)
ci:
  skip: [unit-tests, api-tests, coverage-check]

feat: 데모 영상 자동화 파이프라인 — 통합 mp4 + 한국어 나레이션 + 자막
  scripts/add-narration.sh
  scripts/build-demo-video.sh
  scripts/make-subtitles.sh
Due: none

feat: v2 데모 영상 — 스토리 인트로 10장면 + 시연 + 클로징 (3:57)
  scripts/build-final-video.sh
  scripts/finalize-video.sh
  scripts/narrate-final.sh
Due: none

chore: 시간 카드 수정 70분→45분 (15+10+20)
  scripts/build-final-video.sh
  scripts/finalize-video.sh
  scripts/narrate-final.sh
Due: none

chore: 나레이션 정중한 톤 + 인트로 화면 단축 (3:57 → 3:36)
  scripts/build-final-video.sh
  scripts/finalize-video.sh
  scripts/narrate-final.sh
Due: none

feat: 2x 속도 가속 스크립트 — 3:36 → 1:48 / video setpts + audio atempo / SRT timing 절반
  scripts/speedup-2x.sh
Due: none

chore: 가속 1.5x 조정 (3:36 → 2:24)
  scripts/speedup.sh
Due: none

fix: 시연 데모 나레이션 텍스트 확장 — 침묵 구간 50%→<10%로 감소
  scripts/narrate-final.sh
Due: none

feat: v3 — 30분 분해 + 25분 절약 가설 + Apple Loops BGM + 자막없음 기본
  scripts/build-final-video.sh
  scripts/finalize-video.sh
  scripts/narrate-final.sh
  scripts/speedup.sh
Due: none

feat: 멘토링 신청서 첨부용 이미지 6장 + 외부 자료 URL 정리
  scripts/make-pitch-images.py
  scripts/make-pitch-images.sh
Due: none

feat: 노쇼 시각화 카드(Q3-noshow-scene) + 외부 사진 URL 백업 추가
  scripts/make-pitch-images.py
Due: none

feat: Q3 노쇼 통계 카드에 한국경제 실제 헤드라인 캡처 임베드
  scripts/capture-news.ts
  scripts/make-pitch-images.py
Due: eslint

fix: Q3 노쇼 카드의 기사 캡처를 헤드라인+본문 전체로 확장
  scripts/capture-news.ts
  scripts/make-pitch-images.py
Due: eslint

fix: 노쇼 기사 임베드 — article 컨테이너만 캡처 + URL 명시 + 본문 fit
  scripts/capture-news.ts
  scripts/make-pitch-images.py
Due: eslint

feat: Q2 사이렌오더 + 점심시간 변화 카드 추가 (헤럴드/경향 임베드)
  scripts/capture-news.ts
  scripts/make-pitch-images.py
Due: eslint

feat: Q3 채팅 유연성 카드 추가 — 선결제의 경직성 우려 해소
  scripts/make-pitch-images.py
Due: none

chore: 테스트 DB 분리 — RDS 오염 방지 가드 + fresh DB 자동 부트스트랩
  .env.test
  package.json
  server/config/database.js
  server/migrations/009_recurring_meetups.sql
  tests/setup/globalSetup.js
Due: eslint, comprehensive-api-tests

feat: 마이그레이션 105 — NTS 진위확인 컬럼 추가 및 스키마 drift 정리
  server/migrations/105_schema_drift_and_nts.sql
Due: none

fix: 예약 오버부킹 방지 — 슬롯 잠금 + 미결제 예약 정원 포함 + 만료 스케줄러
  server/modules/reservations/controller.js
  server/scheduler/index.js
  server/scheduler/jobs/expirePendingReservations.js
  tests/unit/reservations/reservations.controller.test.js
Due: eslint, comprehensive-api-tests

fix: 환불 정책 날짜 계산 — 예약일+시각 합산 타임스탬프로 수정
  server/modules/payments/controller.js
  server/utils/helpers.js
Due: eslint, comprehensive-api-tests, payment-tests

fix: 주문 거절·타임슬롯 삭제 가드 추가
  server/modules/orders/controller.js
  server/modules/restaurants/controller.js
Due: eslint, comprehensive-api-tests

feat: 국세청 사업자 진위확인 연동 (수동승인 게이트 유지)
  .env.example
  admin/src/components/MerchantManagement.tsx
  merchant/src/components/MerchantRegister.tsx
  merchant/src/components/Signup.tsx
  server/config/nts.js
  server/middleware/schemas/merchants.schemas.js
  server/modules/admin/controller.js
  server/modules/merchants/controller.js
Due: eslint, comprehensive-api-tests, admin-upload-tests

fix: 결제 merchantUid 폴백 제거 + 점주 매장 ID 추출 단일화
  merchant/src/components/MenuManagement.tsx
  merchant/src/components/MerchantSettings.tsx
  merchant/src/components/StoreInfo.tsx
  merchant/src/components/StoreRegister.tsx
  merchant/src/utils/getRestaurantId.ts
  server/modules/restaurants/controller.js
  src/screens/PaymentScreen.web.tsx
  src/services/restaurantApiService.ts
Due: eslint, comprehensive-api-tests

test: v2 풀플로우 통합테스트 — 점주가입부터 정산까지 실DB 검증
  server/modules/admin/controller.js
  server/modules/reservations/controller.js
  tests/integration/v2/exceptions.integration.test.js
  tests/integration/v2/happy-path.integration.test.js
  tests/integration/v2/helpers/v2flow.helper.js
  tests/unit/merchants/merchants.controller.test.js
  tests/unit/orders/orders.controller.test.js
  tests/unit/reservations/reservations.controller.test.js
  tests/unit/utils/helpers.test.js
Due: eslint, comprehensive-api-tests, admin-upload-tests

test: Playwright E2E 실구동화 — webServer 자동 기동 + 조용한 스킵 제거
  e2e/helpers/seed.ts
  e2e/v2-01-restaurant-browse.spec.ts
  e2e/v2-02-reservation-flow.spec.ts
  playwright.config.ts
  server/index.js
  server/modules/auth/controller.js
  tests/fixtures/v2-ids.js
Due: eslint, comprehensive-api-tests, auth-tests

chore: CI 강화 — 통합테스트 PR 게이트 추가 + E2E nightly 신설
  .github/workflows/e2e.yml
  .github/workflows/test-only.yml
  .github/workflows/unit-tests.yml
Due: none

feat: 알림 커버리지 완성 — 결제완료/취소/정산 점주 알림
  server/modules/payments/controller.js
  server/modules/reservations/controller.js
  server/modules/settlements/controller.js
  server/scheduler/jobs/settlementProcess.js
Due: eslint, comprehensive-api-tests, payment-tests

fix: 예약 소켓 활성화 — setupReservationSocket 미등록으로 죽어있던 실시간 인프라 복구
  server/index.js
  server/modules/reservations/socket.js
Due: eslint, comprehensive-api-tests

feat: 주문 옵션 금액 서버 권위 계산 + 점주 조회 필드 교정
  merchant/src/components/OrderManagement.tsx
  merchant/src/components/ReservationBoard.tsx
  server/middleware/schemas/orders.schemas.js
  server/modules/orders/controller.js
  tests/integration/v2/notifications-options.integration.test.js
Due: eslint, comprehensive-api-tests

feat: 매장 운영 정책 — 일시중지/휴무일/예약상한/수동예약/품절 (마이그레이션 106)
  server/middleware/schemas/menus.schemas.js
  server/middleware/schemas/reservations.schemas.js
  server/middleware/schemas/restaurants.schemas.js
  server/migrations/106_operational_features.sql
  server/modules/menus/controller.js
  server/modules/reservations/controller.js
  server/modules/reservations/routes.js
  server/modules/restaurants/controller.js
  tests/integration/v2/operational-policies.integration.test.js
  tests/unit/reservations/reservations.controller.test.js
  tests/unit/restaurants/restaurants.controller.test.js
Due: eslint, comprehensive-api-tests

feat: 고객 앱 고도화 — 옵션 모달/재결제/운영시간/리뷰사진/실시간/연결
  server/modules/reviews/restaurant-review.controller.js
  server/modules/reviews/restaurant-review.routes.js
  server/utils/imageUpload.js
  src/components/MenuOptionModal.web.tsx
  src/hooks/useReservationSocket.ts
  src/screens/MyReservationsScreen.web.tsx
  src/screens/PaymentScreen.web.tsx
  src/screens/ReservationConfirmScreen.web.tsx
  src/screens/ReservationFormScreen.web.tsx
  src/screens/RestaurantDetailScreen.web.tsx
  src/screens/WriteRestaurantReviewScreen.web.tsx
  src/services/restaurantApiService.ts
  src/store/cartStore.ts
  src/store/reservationStore.ts
  src/utils/operatingHours.ts
Due: eslint, comprehensive-api-tests

feat: 예약 기반 1:1 채팅 — 매장↔고객 문의 (마이그레이션 107)
  server/index.js
  server/migrations/107_reservation_chat.sql
  server/modules/reservationChat/controller.js
  server/modules/reservationChat/routes.js
  src/components/RouterApp.tsx
  src/screens/MyReservationsScreen.web.tsx
  src/screens/ReservationChatScreen.web.tsx
  src/screens/ReservationConfirmScreen.web.tsx
  src/services/reservationChatApiService.ts
  tests/integration/v2/reservation-chat.integration.test.js
Due: eslint, comprehensive-api-tests, chat-tests

feat: 점주 백엔드 — 메뉴/매장 이미지 업로드 + 기간 매출 통계 API
  server/modules/menus/controller.js
  server/modules/menus/routes.js
  server/modules/restaurants/controller.js
  server/modules/restaurants/routes.js
  server/modules/settlements/controller.js
  server/modules/settlements/routes.js
Due: eslint, comprehensive-api-tests

docs: CLAUDE.md 현행화 — v2 완료 상태/신규 모듈/테스트 DB 규칙/주의 패턴 반영
  CLAUDE.md
Due: none

feat: 점주 대시보드 고도화 — 실시간 알림/수동예약/주간뷰/품절/이미지/통계/리뷰답글/CSV
  merchant/package-lock.json
  merchant/package.json
  merchant/src/App.tsx
  merchant/src/components/Dashboard.tsx
  merchant/src/components/MenuManagement.tsx
  merchant/src/components/OrderManagement.tsx
  merchant/src/components/ReservationBoard.tsx
  merchant/src/components/ReviewManagement.tsx
  merchant/src/components/SettlementHistory.tsx
  merchant/src/components/StoreInfo.tsx
  merchant/src/hooks/useRestaurantSocket.ts
  merchant/src/utils/formatOptions.ts
  merchant/src/utils/notify.ts
Due: eslint

feat: 관리자 운영 도구 — 정산 지급/결제 환불/v2 대시보드 지표
  admin/src/App.tsx
  admin/src/components/Dashboard.tsx
  admin/src/components/PaymentManagement.tsx
  admin/src/components/SettlementManagement.tsx
  server/modules/admin/controller.js
  server/modules/admin/routes.js
  tests/integration/v2/admin-operations.integration.test.js
Due: eslint, comprehensive-api-tests, admin-upload-tests

feat: 점주 문의함(ChatInbox) — 예약 1:1 채팅 점주 측 완성
  merchant/src/App.tsx
  merchant/src/components/ChatInbox.tsx
  merchant/src/components/OrderManagement.tsx
Due: eslint

chore: 수동 DB 마이그레이션 워크플로우 — RPi 컨테이너 진단/적용 (workflow_dispatch)
  .github/workflows/db-migrate.yml
Due: none

chore: db-migrate 워크플로우에 v2 복구 모드 — 100~107 직접 적용+기록 (005 레거시 충돌 우회)
  .github/workflows/db-migrate.yml
Due: none

fix: recover_v2 — psql 대신 앱 컨테이너 node+DB풀로 적용 (postgres 컨테이너명 의존 제거)
  .github/workflows/db-migrate.yml
Due: none

fix: 전수 스모크로 발견한 버그 3종 수정 + 3개 앱 스모크 테스트 추가
  e2e/smoke-full.spec.ts
  scripts/seed-demo.js
  server/index.js
  server/migrations/005_add_missing_tables.sql
  server/migrations/108_user_moderation.sql
  server/modules/admin/controller.js
  tests/unit/admin/admin.controller.test.js
  tests/unit/cors.test.js
Due: eslint, comprehensive-api-tests, admin-upload-tests
