Repository leegyeongyoon/honbabnono: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, comprehensive-api-tests, auth-tests, meetup-tests, payment-tests, chat-tests, admin-upload-tests

.pre-commit-config.yaml:

# Pre-commit configuration for automated testing
repos:
  # JavaScript/Node.js linting and testing
  - repo: local
    hooks:
      # ESLint for code style
      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        files: \.(js|jsx|ts|tsx)$
        exclude: node_modules/
      
      # Unit tests
      - id: unit-tests
        name: Unit Tests
        entry: npm run test:unit
        language: node
        pass_filenames: false
        always_run: true
        
      # Comprehensive API tests
      - id: comprehensive-api-tests
        name: Comprehensive API Tests
        entry: NODE_ENV=test npm test tests/comprehensive-api.test.js
        language: node  
        pass_filenames: false
        files: ^(server/|tests/).*\.(js|ts)$

      # Authentication tests
      - id: auth-tests
        name: Authentication Tests
        entry: NODE_ENV=test npm test tests/auth-detailed.test.js
        language: node
        pass_filenames: false
        files: ^(server/.*auth|tests/.*auth).*\.(js|ts)$

      # Meetup API tests
      - id: meetup-tests
        name: Meetup API Tests
        entry: NODE_ENV=test npm test tests/meetup-detailed.test.js
        language: node
        pass_filenames: false
        files: ^(server/.*meetup|tests/.*meetup).*\.(js|ts)$

      # Payment & Points tests
      - id: payment-tests
        name: Payment & Points Tests
        entry: NODE_ENV=test npm test tests/payment-points.test.js
        language: node
        pass_filenames: false
        files: ^(server/.*(payment|point)|tests/.*(payment|point)).*\.(js|ts)$

      # Chat API tests
      - id: chat-tests
        name: Chat API Tests
        entry: NODE_ENV=test npm test tests/chat-api.test.js
        language: node
        pass_filenames: false
        files: ^(server/.*chat|tests/.*chat).*\.(js|ts)$

      # Admin & Upload tests
      - id: admin-upload-tests
        name: Admin & Upload Tests
        entry: NODE_ENV=test npm test tests/admin-upload.test.js
        language: node
        pass_filenames: false
        files: ^(server/.*(admin|upload)|tests/.*(admin|upload)).*\.(js|ts)$
        
      # Test coverage check with threshold
      - id: coverage-check
        name: Coverage Check (70% minimum)
        entry: bash -c 'npm run test:coverage && COVERAGE=$(npx nyc report --reporter=text-summary | grep "Lines" | grep -o "[0-9.]*%" | head -1 | sed "s/%//"); if (( $(echo "$COVERAGE < 70" | bc -l) )); then echo "âŒ Coverage ${COVERAGE}% below 70% threshold"; exit 1; fi'
        language: node
        pass_filenames: false
        always_run: true

  # Generic hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      # Basic file checks
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      
      # Security checks
      - id: detect-private-key
      - id: check-case-conflict
      
      # Large file prevention
      - id: check-added-large-files
        args: ['--maxkb=1000']

# Global configuration
default_language_version:
  node: 20

fail_fast: false

# Minimum coverage thresholds (can be adjusted)
ci:
  skip: [unit-tests, api-tests, coverage-check]

refactor: 백엔드 서버 모듈화 구조로 리팩토링
  server/config/database.js
  server/index.js
  server/index.old.js
  server/middleware/auth.js
  server/modules/admin/controller.js
  server/modules/admin/routes.js
  server/modules/advertisements/controller.js
  server/modules/advertisements/routes.js
  server/modules/ai/controller.js
  server/modules/ai/routes.js
  server/modules/auth/controller.js
  server/modules/auth/routes.js
  server/modules/badges/controller.js
  server/modules/badges/routes.js
  server/modules/chat/controller.js
  server/modules/chat/routes.js
  server/modules/deposits/controller.js
  server/modules/deposits/routes.js
  server/modules/meetups/controller.js
  server/modules/meetups/routes.js
  server/modules/notifications/controller.js
  server/modules/notifications/routes.js
  server/modules/points/controller.js
  server/modules/points/routes.js
  server/modules/reviews/controller.js
  server/modules/reviews/routes.js
  server/modules/search/controller.js
  server/modules/search/routes.js
  server/modules/support/controller.js
  server/modules/support/routes.js
  server/modules/user/controller.js
  server/modules/user/routes.js
  server/modules/users-legacy/routes.js
  server/utils/helpers.js
Due: eslint, comprehensive-api-tests, auth-tests, meetup-tests, payment-tests, chat-tests, admin-upload-tests

docs: CLAUDE.md 프로젝트 가이드 문서 추가
  CLAUDE.md
Due: none

feat: 위치 기반 모임 추천 및 거리 표시 기능 추가
  server/modules/meetups/controller.js
  src/components/MeetupCard.tsx
  src/components/shared/UniversalHomeScreen.tsx
  src/store/meetupStore.ts
  src/utils/dateUtils.ts
  tests/location-based-meetups.test.js
Due: eslint, comprehensive-api-tests, meetup-tests

refactor: 모임 컨트롤러 모듈화 구조로 분할
  server/modules/meetups/controllers/attendance.controller.js
  server/modules/meetups/controllers/crud.controller.js
  server/modules/meetups/controllers/list.controller.js
  server/modules/meetups/controllers/misc.controller.js
  server/modules/meetups/controllers/participation.controller.js
  server/modules/meetups/controllers/review.controller.js
  server/modules/meetups/helpers/auth.helper.js
  server/modules/meetups/helpers/query.helper.js
  server/modules/meetups/helpers/validation.helper.js
  server/modules/meetups/routes.js
Due: eslint, comprehensive-api-tests, auth-tests, meetup-tests

test: API 테스트 인프라 구축 및 전 모듈 통합 테스트 추가
  jest.config.js
  package.json
  server/index.js
  server/modules/ai/controller.js
  tests/fixtures/deposits.fixture.js
  tests/fixtures/index.js
  tests/fixtures/meetups.fixture.js
  tests/fixtures/users.fixture.js
  tests/flows/auth-flow.test.js
  tests/flows/meetup-flow.test.js
  tests/flows/notification-flow.test.js
  tests/flows/points-flow.test.js
  tests/helpers/api.helper.js
  tests/helpers/auth.helper.js
  tests/helpers/db.helper.js
  tests/integration/admin/admin.integration.test.js
  tests/integration/advertisements/advertisements.integration.test.js
  tests/integration/ai/ai.integration.test.js
  tests/integration/auth/auth.integration.test.js
  tests/integration/badges/badges.integration.test.js
  tests/integration/chat/chat.integration.test.js
  tests/integration/deposits/deposits.integration.test.js
  tests/integration/meetups/meetups.integration.test.js
  tests/integration/notifications/notifications.integration.test.js
  tests/integration/points/points.integration.test.js
  tests/integration/reviews/reviews.integration.test.js
  tests/integration/search/search.integration.test.js
  tests/integration/support/support.integration.test.js
  tests/integration/user/user.integration.test.js
  tests/mocks/database.mock.js
  tests/mocks/jwt.mock.js
  tests/mocks/kakao.mock.js
  tests/mocks/openai.mock.js
  tests/setup.js
  tests/setup/globalSetup.js
  tests/setup/globalTeardown.js
  tests/unit/auth/auth.controller.test.js
  tests/unit/meetups/meetups.controller.test.js
Due: eslint, comprehensive-api-tests, auth-tests, meetup-tests, payment-tests, chat-tests, admin-upload-tests

test: 전체 컨트롤러 단위 테스트 추가 (487개 테스트)
  tests/helpers/response.helper.js
  tests/mocks/database.mock.js
  tests/unit/admin/admin.controller.test.js
  tests/unit/advertisements/advertisements.controller.test.js
  tests/unit/ai/ai.controller.test.js
  tests/unit/auth/auth.controller.test.js
  tests/unit/badges/badges.controller.test.js
  tests/unit/chat/chat.controller.test.js
  tests/unit/deposits/deposits.controller.test.js
  tests/unit/meetups/meetups.attendance.controller.test.js
  tests/unit/meetups/meetups.controller.test.js
  tests/unit/meetups/meetups.crud.controller.test.js
  tests/unit/meetups/meetups.list.controller.test.js
  tests/unit/meetups/meetups.misc.controller.test.js
  tests/unit/meetups/meetups.participation.controller.test.js
  tests/unit/meetups/meetups.review.controller.test.js
  tests/unit/notifications/notifications.controller.test.js
  tests/unit/points/points.controller.test.js
  tests/unit/reviews/reviews.controller.test.js
  tests/unit/search/search.controller.test.js
  tests/unit/support/support.controller.test.js
  tests/unit/user/user.controller.test.js
Due: eslint, comprehensive-api-tests, auth-tests, meetup-tests, payment-tests, chat-tests, admin-upload-tests

ci: main 브랜치 테스트 필수 통과 워크플로우 추가
  .github/workflows/unit-tests.yml
Due: none

test: 브랜치 보호 규칙 검증용 테스트 추가
  tests/unit/branch-protection.test.js
Due: eslint, comprehensive-api-tests

test: 브랜치 보호 규칙 검증용 테스트 추가 (#1)
  tests/unit/branch-protection.test.js
Due: eslint, comprehensive-api-tests

fix: ESLint TypeScript 파싱 오류 수정 및 단위 테스트 Mock 패턴 개선
  .eslintrc.js
  .github/workflows/unit-tests.yml
  package-lock.json
  package.json
  src/components/shared/UniversalNotificationSettingsScreen.tsx
  tests/mocks/database.mock.js
  tests/unit/points/points.controller.test.js
Due: eslint, comprehensive-api-tests, payment-tests

fix: 단위 테스트 Mock 패턴 전면 개선 및 트랜잭션 테스트 추가
  tests/unit/admin/admin.controller.test.js
  tests/unit/auth/auth.controller.test.js
  tests/unit/meetups/meetups.controller.test.js
  tests/unit/user/user.controller.test.js
Due: eslint, comprehensive-api-tests, auth-tests, meetup-tests, admin-upload-tests

test: 에러 핸들링 테스트에 [에러 핸들링 테스트] 표시 추가
  tests/unit/admin/admin.controller.test.js
  tests/unit/advertisements/advertisements.controller.test.js
  tests/unit/ai/ai.controller.test.js
  tests/unit/auth/auth.controller.test.js
  tests/unit/badges/badges.controller.test.js
  tests/unit/chat/chat.controller.test.js
  tests/unit/deposits/deposits.controller.test.js
  tests/unit/meetups/meetups.attendance.controller.test.js
  tests/unit/meetups/meetups.controller.test.js
  tests/unit/meetups/meetups.crud.controller.test.js
  tests/unit/meetups/meetups.list.controller.test.js
  tests/unit/meetups/meetups.misc.controller.test.js
  tests/unit/meetups/meetups.participation.controller.test.js
  tests/unit/meetups/meetups.review.controller.test.js
  tests/unit/notifications/notifications.controller.test.js
  tests/unit/points/points.controller.test.js
  tests/unit/reviews/reviews.controller.test.js
  tests/unit/support/support.controller.test.js
  tests/unit/user/user.controller.test.js
Due: eslint, comprehensive-api-tests, auth-tests, meetup-tests, payment-tests, chat-tests, admin-upload-tests

chore: 중복 CI/CD 워크플로우 제거
  .github/workflows/ci-cd.yml
Due: none

test: 브랜치 보호 규칙 검증 및 단위 테스트 개선 (#2)
  .eslintrc.js
  .github/workflows/ci-cd.yml
  .github/workflows/unit-tests.yml
  package-lock.json
  package.json
  src/components/shared/UniversalNotificationSettingsScreen.tsx
  tests/mocks/database.mock.js
  tests/unit/admin/admin.controller.test.js
  tests/unit/advertisements/advertisements.controller.test.js
  tests/unit/ai/ai.controller.test.js
  tests/unit/auth/auth.controller.test.js
  tests/unit/badges/badges.controller.test.js
  tests/unit/chat/chat.controller.test.js
  tests/unit/deposits/deposits.controller.test.js
  tests/unit/meetups/meetups.attendance.controller.test.js
  tests/unit/meetups/meetups.controller.test.js
  tests/unit/meetups/meetups.crud.controller.test.js
  tests/unit/meetups/meetups.list.controller.test.js
  tests/unit/meetups/meetups.misc.controller.test.js
  tests/unit/meetups/meetups.participation.controller.test.js
  tests/unit/meetups/meetups.review.controller.test.js
  tests/unit/notifications/notifications.controller.test.js
  tests/unit/points/points.controller.test.js
  tests/unit/reviews/reviews.controller.test.js
  tests/unit/support/support.controller.test.js
  tests/unit/user/user.controller.test.js
Due: eslint, comprehensive-api-tests, auth-tests, meetup-tests, payment-tests, chat-tests, admin-upload-tests

fix: 채팅 읽음 상태 유지되지 않는 버그 수정
  server/modules/chat/controller.js
  src/components/shared/UniversalChatScreen.tsx
  src/services/chatApiService.ts
Due: eslint, comprehensive-api-tests, chat-tests

fix: 채팅 읽음 상태 유지되지 않는 버그 수정 (#3)
  server/modules/chat/controller.js
  src/components/shared/UniversalChatScreen.tsx
  src/services/chatApiService.ts
Due: eslint, comprehensive-api-tests, chat-tests

fix: 모임 플로우 시스템 개선 (참가/확정/GPS 인증/후기)
  database_schema_clean.sql
  server/modules/meetups/controllers/participation.controller.js
  server/modules/meetups/controllers/review.controller.js
  server/modules/meetups/routes.js
  tests/meetup-flow.test.js
Due: eslint, comprehensive-api-tests, meetup-tests

feat: 약속금/취소/노쇼 정책 시스템 구현
  database_schema_clean.sql
  docs/policies/CANCELLATION_POLICY.md
  docs/policies/DEPOSIT_POLICY.md
  docs/policies/NOSHOW_POLICY.md
  server/modules/deposits/controller.js
  server/modules/deposits/routes.js
  tests/meetup-flow.test.js
Due: eslint, comprehensive-api-tests, meetup-tests

feat: 약속금/취소/노쇼 정책 시스템 구현 (#6)
  database_schema_clean.sql
  docs/policies/CANCELLATION_POLICY.md
  docs/policies/DEPOSIT_POLICY.md
  docs/policies/NOSHOW_POLICY.md
  server/modules/deposits/controller.js
  server/modules/deposits/routes.js
  tests/meetup-flow.test.js
Due: eslint, comprehensive-api-tests, meetup-tests

fix: 약속금 API 버그 수정 및 통합 테스트 추가
  server/modules/deposits/controller.js
  tests/integration/deposits/deposits.integration.test.js
Due: eslint, comprehensive-api-tests

fix: 약속금 유닛 테스트에 이용 제한 체크 mock 추가
  tests/unit/deposits/deposits.controller.test.js
Due: eslint, comprehensive-api-tests

docs: 비즈니스 로직 정책 문서 및 사업기획서용 기능 정리 추가
  docs/BUSINESS_FEATURES.md
  docs/policies/ADMIN_POLICY.md
  docs/policies/AI_SEARCH_POLICY.md
  docs/policies/ATTENDANCE_POLICY.md
  docs/policies/BADGE_POLICY.md
  docs/policies/CHAT_POLICY.md
  docs/policies/MEETUP_POLICY.md
  docs/policies/NOSHOW_SYSTEM_POLICY.md
  docs/policies/NOTIFICATION_POLICY.md
  docs/policies/POINTS_POLICY.md
  docs/policies/README.md
  docs/policies/REVIEW_POLICY.md
  docs/policies/SUPPORT_POLICY.md
  docs/policies/USER_POLICY.md
Due: none

fix: admin 배포 워크플로우 수정 및 AI 모듈 버그 수정
  .github/workflows/deploy-admin.yml
  server/modules/ai/controller.js
Due: eslint, comprehensive-api-tests

fix: admin 배포 워크플로우를 메인 앱과 동일하게 수정
  .github/workflows/deploy-admin.yml
Due: none

feat: 네이티브 앱 UI를 웹과 동일하게 통일 + 5탭 구성 반영
  src/components/shared/UniversalChatScreen.tsx
  src/components/shared/UniversalExploreScreen.tsx
  src/components/shared/UniversalHomeScreen.tsx
  src/components/shared/UniversalMyPageScreen.tsx
  src/navigation/TabNavigator.tsx
  src/navigation/routes.ts
  src/types/navigation.ts
Due: eslint

feat: 전체 UI/UX 상용화 고도화 - 웹과 네이티브 완벽 일치
  src/components/SimpleIcon.tsx
  src/components/shared/UniversalChatScreen.tsx
  src/components/shared/UniversalExploreScreen.tsx
  src/components/shared/UniversalHomeScreen.tsx
  src/components/shared/UniversalMyMeetupsScreen.tsx
  src/components/shared/UniversalMyPageScreen.tsx
Due: eslint

feat: 전체 UI/UX 전면 개편 Round 1 - 배민/토스/카카오 수준 상용 디자인
  src/components/shared/UniversalChatScreen.tsx
  src/components/shared/UniversalExploreScreen.tsx
  src/components/shared/UniversalHomeScreen.tsx
  src/components/shared/UniversalMyMeetupsScreen.tsx
  src/components/shared/UniversalMyPageScreen.tsx
  src/screens/ChatScreen.web.tsx
  src/screens/ExploreScreen.web.tsx
  src/screens/HomeScreen.web.tsx
  src/screens/MyMeetupsScreen.web.tsx
  src/screens/MyPageScreen.web.tsx
Due: eslint

feat: UI/UX 전면 개편 Round 2 - 세부 디테일 폴리시
  src/components/shared/UniversalChatScreen.tsx
  src/components/shared/UniversalExploreScreen.tsx
  src/components/shared/UniversalHomeScreen.tsx
  src/components/shared/UniversalMyMeetupsScreen.tsx
  src/components/shared/UniversalMyPageScreen.tsx
  src/components/skeleton/ChatListSkeleton.tsx
  src/screens/ChatScreen.web.tsx
  src/screens/ExploreScreen.web.tsx
  src/screens/HomeScreen.web.tsx
  src/screens/MyMeetupsScreen.web.tsx
  src/screens/MyPageScreen.web.tsx
Due: eslint

feat: UI/UX 전면 개편 Round 3 - 타이포그래피/여백/그림자/컬러 통일
  src/components/shared/UniversalChatScreen.tsx
  src/components/shared/UniversalExploreScreen.tsx
  src/components/shared/UniversalHomeScreen.tsx
  src/components/shared/UniversalMyMeetupsScreen.tsx
  src/components/shared/UniversalMyPageScreen.tsx
  src/screens/ChatScreen.web.tsx
  src/screens/ExploreScreen.web.tsx
  src/screens/HomeScreen.web.tsx
  src/screens/MyMeetupsScreen.web.tsx
  src/screens/MyPageScreen.web.tsx
Due: eslint

feat: UI/UX 전면 개편 Round 4 - 인터랙션/접근성/상태 전환
  src/components/EmptyState.tsx
  src/components/shared/UniversalChatScreen.tsx
  src/components/shared/UniversalExploreScreen.tsx
  src/components/shared/UniversalHomeScreen.tsx
  src/components/shared/UniversalMyMeetupsScreen.tsx
  src/components/shared/UniversalMyPageScreen.tsx
  src/components/skeleton/SkeletonLoader.tsx
  src/screens/ChatScreen.web.tsx
  src/screens/ExploreScreen.web.tsx
  src/screens/HomeScreen.web.tsx
  src/screens/MyMeetupsScreen.web.tsx
  src/screens/MyPageScreen.web.tsx
Due: eslint

feat: UI/UX 전면 개편 Round 5 - 최종 QA 및 크로스 스크린 일관성
  src/components/shared/UniversalChatScreen.tsx
  src/components/shared/UniversalHomeScreen.tsx
  src/screens/ExploreScreen.web.tsx
  src/screens/HomeScreen.web.tsx
  src/screens/MyMeetupsScreen.web.tsx
  src/screens/MyPageScreen.web.tsx
Due: eslint

feat: 디자인 시스템 v10.1 '토프 그레이지' 색상 조정
  dist/bundle.js
  dist/index.html
  src/components/RouterApp.tsx
  src/styles/big-calendar.css
  src/styles/colors.ts
  src/styles/custom-datepicker.css
  src/styles/datepicker.css
  src/styles/datetime.css
  web.html
Due: eslint
