Repository leegyeongyoon/honbabnono: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, comprehensive-api-tests, auth-tests, meetup-tests, payment-tests, chat-tests, admin-upload-tests

.pre-commit-config.yaml:

# Pre-commit configuration for automated testing
repos:
  # JavaScript/Node.js linting and testing
  - repo: local
    hooks:
      # ESLint for code style
      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        files: \.(js|jsx|ts|tsx)$
        exclude: node_modules/
      
      # Unit tests
      - id: unit-tests
        name: Unit Tests
        entry: npm run test:unit
        language: node
        pass_filenames: false
        always_run: true
        
      # Comprehensive API tests
      - id: comprehensive-api-tests
        name: Comprehensive API Tests
        entry: NODE_ENV=test npm test tests/comprehensive-api.test.js
        language: node  
        pass_filenames: false
        files: ^(server/|tests/).*\.(js|ts)$

      # Authentication tests
      - id: auth-tests
        name: Authentication Tests
        entry: NODE_ENV=test npm test tests/auth-detailed.test.js
        language: node
        pass_filenames: false
        files: ^(server/.*auth|tests/.*auth).*\.(js|ts)$

      # Meetup API tests
      - id: meetup-tests
        name: Meetup API Tests
        entry: NODE_ENV=test npm test tests/meetup-detailed.test.js
        language: node
        pass_filenames: false
        files: ^(server/.*meetup|tests/.*meetup).*\.(js|ts)$

      # Payment & Points tests
      - id: payment-tests
        name: Payment & Points Tests
        entry: NODE_ENV=test npm test tests/payment-points.test.js
        language: node
        pass_filenames: false
        files: ^(server/.*(payment|point)|tests/.*(payment|point)).*\.(js|ts)$

      # Chat API tests
      - id: chat-tests
        name: Chat API Tests
        entry: NODE_ENV=test npm test tests/chat-api.test.js
        language: node
        pass_filenames: false
        files: ^(server/.*chat|tests/.*chat).*\.(js|ts)$

      # Admin & Upload tests
      - id: admin-upload-tests
        name: Admin & Upload Tests
        entry: NODE_ENV=test npm test tests/admin-upload.test.js
        language: node
        pass_filenames: false
        files: ^(server/.*(admin|upload)|tests/.*(admin|upload)).*\.(js|ts)$
        
      # Test coverage check with threshold
      - id: coverage-check
        name: Coverage Check (70% minimum)
        entry: bash -c 'npm run test:coverage && COVERAGE=$(npx nyc report --reporter=text-summary | grep "Lines" | grep -o "[0-9.]*%" | head -1 | sed "s/%//"); if (( $(echo "$COVERAGE < 70" | bc -l) )); then echo "âŒ Coverage ${COVERAGE}% below 70% threshold"; exit 1; fi'
        language: node
        pass_filenames: false
        always_run: true

  # Generic hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      # Basic file checks
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      
      # Security checks
      - id: detect-private-key
      - id: check-case-conflict
      
      # Large file prevention
      - id: check-added-large-files
        args: ['--maxkb=1000']

# Global configuration
default_language_version:
  node: 20

fail_fast: false

# Minimum coverage thresholds (can be adjusted)
ci:
  skip: [unit-tests, api-tests, coverage-check]

feat: DALL-E 생성 카테고리 아이콘 이미지 적용
  dist/bundle.js
  scripts/generate-category-icons.js
  src/assets/categories/bar.png
  src/assets/categories/bbq.png
  src/assets/categories/buffet.png
  src/assets/categories/course.png
  src/assets/categories/hotpot.png
  src/assets/categories/party.png
  src/assets/categories/pizza.png
  src/assets/categories/seafood.png
  src/components/CategoryIcon.tsx
  src/components/shared/UniversalHomeScreen.tsx
  src/constants/categories.ts
  src/screens/HomeScreen.web.tsx
Due: eslint

feat: 모임 만들기 위자드에 카테고리 이미지 아이콘 적용
  src/components/shared/UniversalCreateMeetupWizard.tsx
  src/screens/CreateMeetupWizard.web.tsx
Due: eslint

feat: 웹 ↔ 네이티브 7개 화면 디자인/기능 동기화
  dist/bundle.js
  dist/images/bar.aa884d795598bbde03f17a05797b44ab.png
  dist/images/bbq.1180e338b77db4457a0afeffc3b8637b.png
  dist/images/buffet.70d703bc47721597294000d2c9fc4c5d.png
  dist/images/course.9c0e958de2bf9571779f1f843fc8f92a.png
  dist/images/hotpot.2db9cef4da721d737f951a0780830e36.png
  dist/images/party.6b121cb556fd90fa167ac1dc6bb776ab.png
  dist/images/pizza.ca958707deaef2fc5337c1e4d85bdf0a.png
  dist/images/rice-character.f67b3ed4a38c2b8ca8f2.png
  dist/images/seafood.0853754814e9e3adcb9717cd2531d0e0.png
  package-lock.json
  package.json
  src/components/shared/UniversalChatScreen.tsx
  src/components/shared/UniversalCreateMeetupWizard.tsx
  src/components/shared/UniversalExploreScreen.tsx
  src/components/shared/UniversalHomeScreen.tsx
  src/components/shared/UniversalLoginScreen.tsx
  src/components/shared/UniversalMeetupDetailScreen.tsx
  src/components/shared/UniversalMyPageScreen.tsx
Due: eslint

chore: DB 자동 정지 스케줄 변경 (03:00~09:30 → 04:00~08:00 KST)
  terraform/rds-optimization.tf
  terraform/simple-cost-summary.tf
Due: none

chore: DB 자동 정지 스케줄 비활성화 (24시간 상시 가동)
  terraform/rds-optimization.tf
  terraform/simple-cost-summary.tf
Due: none

fix: 종합 버그 수정 및 기능 개선 (5개 크리티컬 버그 + 2개 기능)
  server/modules/meetups/controllers/list.controller.js
  src/components/CheckInButton.tsx
  src/components/shared/UniversalMeetupListScreen.tsx
  src/hooks/useMeetups.ts
  src/screens/WriteReviewScreen.tsx
  src/services/locationService.ts
  src/services/locationServiceNative.ts
  src/store/meetupStore.ts
Due: eslint, comprehensive-api-tests, meetup-tests

fix: Kakao 지도 API 키 분리 (JS키/REST키 구분)
  src/components/WebKakaoMap.tsx
  src/screens/MeetupDetailScreen.web.tsx
  webpack.config.js
Due: eslint

fix: .env.production에 Kakao JS키/REST키 추가
  .env.production
Due: none

fix: Kakao API 키를 올바른 키(5a202bd...)로 통일
  .env.production
  src/components/KakaoMapModal.tsx
  src/screens/CreateMeetupWizard.web.tsx
  webpack.config.js
Due: eslint

fix: GPS 체크인/리뷰 기능 수정 및 DB 스키마 정합성 복구
  database_schema_clean.sql
  server/migrations/004_fix_enums_and_missing_tables.sql
  server/modules/admin/controller.js
  server/modules/chat/controller.js
  server/modules/deposits/controller.js
  server/modules/meetups/controller.js
  server/modules/meetups/controllers/attendance.controller.js
  server/modules/meetups/controllers/misc.controller.js
  server/modules/meetups/controllers/participation.controller.js
  server/modules/meetups/controllers/review.controller.js
  server/modules/meetups/helpers/query.helper.js
  server/modules/meetups/routes.js
  server/modules/points/controller.js
  server/modules/reviews/controller.js
  server/modules/user/controller.js
Due: eslint, comprehensive-api-tests, meetup-tests, payment-tests, chat-tests, admin-upload-tests

fix: QA 리포트 CRITICAL/HIGH 11건 UI/UX 버그 수정
  dist/bundle.js
  src/components/RouterApp.tsx
  src/components/shared/UniversalChatScreen.tsx
  src/components/shared/UniversalExploreScreen.tsx
  src/components/shared/UniversalMeetupDetailScreen.tsx
  src/components/shared/UniversalMyReviewsScreen.tsx
  src/components/shared/UniversalNotificationScreen.tsx
  src/components/shared/UniversalPointHistoryScreen.tsx
  src/components/shared/UniversalWishlistScreen.tsx
  src/screens/MyBadgesScreen.tsx
  src/screens/PointBalanceScreen.tsx
  src/screens/SettingsScreen.web.tsx
  src/utils/timeUtils.ts
Due: eslint

fix: zod를 production dependencies에 추가 (서버 시작 크래시 수정)
  package-lock.json
  package.json
Due: none

fix: DB SSL 설정 추가 - RDS 연결 실패 수정
  .env.production
Due: none

fix: 결제/참가 플로우 전면 수정 및 보증금 표시 기능 추가
  database_schema_clean.sql
  server/modules/admin/controller.js
  server/modules/auth/controller.js
  server/modules/deposits/controller.js
  server/modules/meetups/controller.js
  server/modules/meetups/controllers/attendance.controller.js
  server/modules/meetups/controllers/crud.controller.js
  server/modules/meetups/controllers/list.controller.js
  server/modules/meetups/controllers/participation.controller.js
  server/modules/meetups/helpers/query.helper.js
  server/modules/points/controller.js
  server/modules/reviews/controller.js
  server/modules/user/controller.js
  server/scheduler/jobs/noShowProcessing.js
  server/scheduler/jobs/statusTransition.js
  server/utils/helpers.js
  src/components/DepositSelector.tsx
  src/components/MeetupCard.tsx
  src/components/shared/UniversalMeetupDetailScreen.tsx
  src/screens/ExploreScreen.web.tsx
  src/screens/MeetupDetailScreen.web.tsx
  src/store/meetupStore.ts
  src/store/userStore.ts
Due: eslint, comprehensive-api-tests, auth-tests, meetup-tests, payment-tests, admin-upload-tests

fix: 서버 크래시 수정 - babalScore.js 누락 파일 추가
  public/50x.html
  server/migrations/002_babal_score_and_filters.sql
  server/utils/babalScore.js
Due: eslint, comprehensive-api-tests

feat: E2E 테스트 인프라 구축 및 서버 버그 수정 (82/83 통과)
  e2e/01-login.spec.ts
  e2e/02-home-meetup-list.spec.ts
  e2e/03-meetup-detail.spec.ts
  e2e/04-join-and-deposit.spec.ts
  e2e/05-explore-search.spec.ts
  e2e/06-mypage.spec.ts
  e2e/07-chat.spec.ts
  e2e/08-create-meetup.spec.ts
  e2e/09-notifications.spec.ts
  e2e/10-api-integration.spec.ts
  e2e/11-navigation.spec.ts
  e2e/20-full-join-flow.spec.ts
  e2e/21-create-meetup-flow.spec.ts
  e2e/22-point-charge-flow.spec.ts
  e2e/23-chat-flow.spec.ts
  e2e/24-host-actions-flow.spec.ts
  e2e/25-review-flow.spec.ts
  e2e/26-gps-checkin-flow.spec.ts
  e2e/helpers/auth.ts
  e2e/helpers/mocks.ts
  e2e/helpers/seed.ts
  package-lock.json
  package.json
  playwright.config.ts
  server/index.js
  server/middleware/rateLimiter.js
  server/modules/chat/controller.js
  server/modules/meetups/controllers/crud.controller.js
  src/screens/CreateMeetupScreen.web.tsx
  src/screens/CreateMeetupWizard.web.tsx
Due: eslint, comprehensive-api-tests, meetup-tests, chat-tests

fix: test-login userId 지원 추가 및 gitignore 정리
  .gitignore
  server/modules/auth/controller.js
Due: eslint, comprehensive-api-tests, auth-tests

feat: 리뷰 시스템 완성 - 받은 리뷰 조회, 답변, 자동 출석 처리
  server/migrations/007_add_review_reply.sql
  server/modules/reviews/controller.js
  server/modules/reviews/routes.js
  server/modules/user/controller.js
  server/modules/user/routes.js
  server/scheduler/jobs/statusTransition.js
Due: eslint, comprehensive-api-tests

test: E2E 테스트 100% 커버리지 달성 - 31개 테스트 파일 추가 (411 tests)
  e2e/30-mypage-detail.spec.ts
  e2e/31-wishlist.spec.ts
  e2e/32-notifications-detail.spec.ts
  e2e/33-settings.spec.ts
  e2e/34-explore-filters.spec.ts
  e2e/35-recent-views.spec.ts
  e2e/36-profile-edit.spec.ts
  e2e/37-review-crud.spec.ts
  e2e/38-chat-advanced.spec.ts
  e2e/39-deposit-refund.spec.ts
  e2e/40-meetup-lifecycle.spec.ts
  e2e/41-support-notices.spec.ts
  e2e/42-auth-edge-cases.spec.ts
  e2e/43-ai-search.spec.ts
  e2e/44-advertisements.spec.ts
  e2e/45-deposit-payment.spec.ts
  e2e/46-location-settings.spec.ts
  e2e/47-user-verification.spec.ts
  e2e/48-write-review.spec.ts
  e2e/49-admin.spec.ts
  e2e/50-search-address.spec.ts
  e2e/51-auth-flows.spec.ts
  e2e/52-meetup-crud-advanced.spec.ts
  e2e/53-attendance-advanced.spec.ts
  e2e/54-badges-points.spec.ts
  e2e/55-reviews-advanced.spec.ts
  e2e/56-notifications-advanced.spec.ts
  e2e/57-support-advanced.spec.ts
  e2e/58-user-advanced.spec.ts
  e2e/59-chat-advanced2.spec.ts
  e2e/60-admin-advanced.spec.ts
  server/modules/support/routes.js
Due: eslint, comprehensive-api-tests

feat: DB 스키마 정합성 및 서버/프론트 전면 개선
  database_schema_clean.sql
  e2e/37-review-crud.spec.ts
  server/index.js
  server/middleware/schemas/notification.schemas.js
  server/middleware/schemas/reviews.schemas.js
  server/middleware/schemas/user.schemas.js
  server/migrations/008_schema_reconciliation.sql
  server/modules/auth/controller.js
  server/modules/badges/controller.js
  server/modules/deposits/controller.js
  server/modules/meetups/controllers/attendance.controller.js
  server/modules/meetups/controllers/misc.controller.js
  server/modules/meetups/controllers/review.controller.js
  server/modules/meetups/routes.js
  server/modules/notifications/controller.js
  server/modules/notifications/routes.js
  server/modules/reviews/controller.js
  server/modules/reviews/routes.js
  server/modules/user/routes.js
  src/components/shared/UniversalMeetupDetailScreen.tsx
  src/components/shared/UniversalMyReviewsScreen.tsx
  src/components/shared/UniversalNotificationScreen.tsx
  src/components/shared/UniversalPaymentScreen.tsx
  src/components/shared/UniversalReviewManagementScreen.tsx
  src/navigation/RootNavigator.tsx
  src/screens/AdvertisementDetailScreen.tsx
  src/screens/DepositPaymentScreen.tsx
  src/screens/MyBadgesScreen.tsx
  src/screens/MyReviewsScreen.web.tsx
  src/screens/ReviewManagementScreen.web.tsx
  src/screens/UserVerificationScreen.tsx
  src/services/reviewApiService.ts
  src/services/userApiService.ts
Due: eslint, comprehensive-api-tests, auth-tests, meetup-tests

feat: 홈 히어로 카드 캐러셀 + 마이페이지 프로필 리디자인
  public/explore-hero.png
  public/home-hero.png
  public/profile-hero.png
  src/assets/backgrounds/explore-hero.png
  src/assets/backgrounds/home-hero.png
  src/assets/backgrounds/profile-hero.png
  src/components/HeroBannerCard.web.tsx
  src/components/HeroBannerCarousel.web.tsx
  src/constants/heroBannerData.ts
  src/screens/HomeScreen.web.tsx
  src/screens/MyPageScreen.web.tsx
  web.html
Due: eslint

feat: 관리자 대시보드 전면 고도화 - 6개 신규 메뉴 + 30개 API + 크리티컬 버그 3건 수정
  admin/src/App.tsx
  admin/src/components/BadgeManagement.tsx
  admin/src/components/ChatManagement.tsx
  admin/src/components/Dashboard.tsx
  admin/src/components/DepositManagement.tsx
  admin/src/components/NotificationManagement.tsx
  admin/src/components/ReviewManagement.tsx
  admin/src/components/SupportManagement.tsx
  server/migrations/011_admin_enhancements.sql
  server/modules/admin/controller.js
  server/modules/admin/routes.js
Due: eslint, comprehensive-api-tests, admin-upload-tests

feat: 네이티브 앱 디자인 웹 동기화 - 6개 화면 프리미엄 리디자인
  dist/bundle.js
  src/components/FilterDropdown.tsx
  src/components/HeroBannerCarousel.tsx
  src/components/meetup-cards/MeetupCompactCard.tsx
  src/components/shared/UniversalChatScreen.tsx
  src/components/shared/UniversalExploreScreen.tsx
  src/components/shared/UniversalHomeScreen.tsx
  src/components/shared/UniversalMyMeetupsScreen.tsx
  src/components/shared/UniversalMyPageScreen.tsx
Due: eslint

fix: 전체 도메인 honbabnono.com → eattable.kr 마이그레이션
  .env.production
  admin/.env.production
  admin/nginx.conf
  admin/src/utils/api.ts
  server/index.js
  src/components/KakaoMapModal.tsx
  src/components/NativeMapModal.tsx
  src/utils/kakaoShare.ts
Due: eslint, comprehensive-api-tests

feat: GitHub Actions → 라즈베리파이 자동배포 파이프라인 구축
  .github/workflows/cost-check.yml
  .github/workflows/deploy-admin.yml
  .github/workflows/deploy-rpi.yml
  .github/workflows/deploy.yml
  server/index.js
Due: eslint, comprehensive-api-tests

fix: Cloudflare Tunnel SSH 기반 자동배포로 전환
  .github/workflows/deploy-rpi.yml
  server/index.js
Due: eslint, comprehensive-api-tests

feat: Figma 완성본 디자인 반영 - 홈/모임상세/탐색 + 카테고리 이미지 교체
  dist/bundle.js
  dist/categories/bbq.png
  dist/categories/bunsik.png
  dist/categories/chinese.png
  dist/categories/hotpot.png
  dist/categories/japanese.png
  dist/categories/korean.png
  dist/categories/seafood.png
  dist/categories/western.png
  public/categories/bbq.png
  public/categories/bunsik.png
  public/categories/chinese.png
  public/categories/hotpot.png
  public/categories/japanese.png
  public/categories/korean.png
  public/categories/pizza.png
  public/categories/seafood.png
  public/categories/western.png
  public/nav-icons/chat.svg
  public/nav-icons/explore.svg
  public/nav-icons/home.svg
  public/nav-icons/mymeetups.svg
  public/nav-icons/mypage.svg
  src/components/BottomTabBar.tsx
  src/components/NavIcon.tsx
  src/components/WebTabNavigator.tsx
  src/components/meetup-cards/MeetupCompactCard.tsx
  src/components/shared/UniversalExploreScreen.tsx
  src/components/shared/UniversalHomeScreen.tsx
  src/components/shared/UniversalMeetupDetailScreen.tsx
  src/constants/categories.ts
  src/screens/ExploreScreen.web.tsx
  src/screens/HomeScreen.web.tsx
  src/screens/MeetupDetailScreen.web.tsx
  src/styles/colors.ts
  web.html
Due: eslint

fix: Figma UI 변경에 따른 E2E 테스트 수정
  e2e/02-home-meetup-list.spec.ts
  e2e/34-explore-filters.spec.ts
Due: eslint

feat: 내 약속/채팅 화면 Figma 완성본 디자인 반영
  src/screens/ChatScreen.web.tsx
  src/screens/MyMeetupsScreen.web.tsx
Due: eslint

feat: 설정/공지사항/FAQ/이용약관 Figma 완성본 디자인 반영
  src/components/RouterApp.tsx
  src/screens/FAQScreen.web.tsx
  src/screens/NoticesScreen.web.tsx
  src/screens/SettingsScreen.web.tsx
  src/screens/TermsScreen.web.tsx
Due: eslint
