Repository leegyeongyoon/honbabnono: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, comprehensive-api-tests, auth-tests, meetup-tests, payment-tests, chat-tests, admin-upload-tests

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

comprehensive-api-tests:
  name: Comprehensive API Tests
  entry: NODE_ENV=test npm test tests/comprehensive-api.test.js
  language: node
  pass_filenames: false

auth-tests:
  name: Authentication Tests
  entry: NODE_ENV=test npm test tests/auth-detailed.test.js
  language: node
  pass_filenames: false

meetup-tests:
  name: Meetup API Tests
  entry: NODE_ENV=test npm test tests/meetup-detailed.test.js
  language: node
  pass_filenames: false

payment-tests:
  name: Payment & Points Tests
  entry: NODE_ENV=test npm test tests/payment-points.test.js
  language: node
  pass_filenames: false

chat-tests:
  name: Chat API Tests
  entry: NODE_ENV=test npm test tests/chat-api.test.js
  language: node
  pass_filenames: false

admin-upload-tests:
  name: Admin & Upload Tests
  entry: NODE_ENV=test npm test tests/admin-upload.test.js
  language: node
  pass_filenames: false

fix: PostgreSQL 버전 15.8로 최종 업데이트
  terraform/rds-optimization.tf
Due: none

fix: PostgreSQL 16.4 버전으로 최종 수정 - AWS 공식 권장 버전
  terraform/rds-optimization.tf
Due: none

fix: PostgreSQL 14.9 안정 버전으로 변경
  terraform/rds-optimization.tf
Due: none

fix: PostgreSQL engine_version 제거하여 AWS 최신 지원 버전 자동 선택
  terraform/rds-optimization.tf
Due: none

fix: 기존 RDS 인스턴스 사용하도록 변경 - 중복 생성 방지
  terraform/cloudwatch-optimization.tf
  terraform/rds-optimization.tf
Due: none

fix: 기존 RDS 인스턴스 이름 'honbabnono'로 정확히 수정
  terraform/cloudwatch-optimization.tf
  terraform/rds-optimization.tf
Due: none

fix: 추가 terraform state lock 해제
  .github/workflows/deploy.yml
Due: none

add: VPC 비용 .72 원인 상세 분석을 위한 terraform 리소스 조회 추가
  terraform/vpc-cost-analysis.tf
Due: none

fix: 웹 모임 상세 페이지 네비게이션 오류 수정
  src/screens/HomeScreen.web.tsx
  src/store/meetupStore.ts
Due: eslint

fix: Terraform 배포 오류 해결 - 오래된 AWS 프로바이더 문법 수정
  terraform/vpc-cost-analysis.tf
Due: none

feat: 카카오맵 검색 기능 및 모임 생성/상세 페이지 연동
  App.tsx
  docs/사업계획서_현재진행상황_로드맵.md
  ios/HonbabnonoApp/Info.plist
  public/kakao-map.html
  server/index.js
  src/components/NativeMapModal.tsx
  src/components/StaticMapView.tsx
  src/components/StaticMapView.web.tsx
  src/components/shared/UniversalCreateMeetupScreen.tsx
  src/components/shared/UniversalCreateMeetupWizard.tsx
  src/screens/CreateMeetupWizard.tsx
  src/screens/MapTestScreen.tsx
  src/screens/MeetupDetailScreen.tsx
Due: eslint, comprehensive-api-tests

feat: 마이페이지 전체 화면 API 연동 개선
  src/components/shared/UniversalBlockedUsersScreen.tsx
  src/components/shared/UniversalCreateMeetupWizard.tsx
  src/components/shared/UniversalMyActivitiesScreen.tsx
  src/components/shared/UniversalMyReviewsScreen.tsx
  src/components/shared/UniversalNoticeDetailScreen.tsx
  src/components/shared/UniversalNoticesScreen.tsx
  src/components/shared/UniversalNotificationSettingsScreen.tsx
  src/components/shared/UniversalPointHistoryScreen.tsx
  src/components/shared/UniversalPrivacySettingsScreen.tsx
  src/components/shared/UniversalRecentViewsScreen.tsx
  src/components/shared/UniversalWishlistScreen.tsx
  src/constants/categories.ts
  src/services/userApiService.ts
Due: eslint

feat: 지역 설정 지도 분리 및 반경 선택 기능 추가
  public/location-settings.html
  src/components/NativeMapModal.tsx
  src/components/NeighborhoodSelector.tsx
  src/components/shared/UniversalHomeScreen.tsx
  src/screens/CreateMeetupWizard.tsx
  src/screens/HomeScreen.tsx
Due: eslint

fix: Universal 화면들의 중복 뒤로가기 버튼 제거
  src/components/shared/UniversalAISearchResultScreen.tsx
  src/components/shared/UniversalBlockedUsersScreen.tsx
  src/components/shared/UniversalJoinedMeetupsScreen.tsx
  src/components/shared/UniversalMeetupDetailScreen.tsx
  src/components/shared/UniversalMeetupListScreen.tsx
  src/components/shared/UniversalMyActivitiesScreen.tsx
  src/components/shared/UniversalMyMeetupsScreen.tsx
  src/components/shared/UniversalMyReviewsScreen.tsx
  src/components/shared/UniversalNoticeDetailScreen.tsx
  src/components/shared/UniversalNoticesScreen.tsx
  src/components/shared/UniversalNotificationSettingsScreen.tsx
  src/components/shared/UniversalPaymentScreen.tsx
  src/components/shared/UniversalPointHistoryScreen.tsx
  src/components/shared/UniversalPrivacySettingsScreen.tsx
  src/components/shared/UniversalRecentViewsScreen.tsx
  src/components/shared/UniversalReviewManagementScreen.tsx
  src/components/shared/UniversalWishlistScreen.tsx
Due: eslint

feat: 지역 설정 화면 컴포넌트 추가
  src/components/shared/UniversalLocationSettingsScreen.tsx
  src/screens/LocationSettingsScreen.tsx
  src/screens/LocationSettingsScreen.web.tsx
Due: eslint

fix: 여러 기능 개선 및 버그 수정
  backend/src/server.js
  public/kakao-map.html
  public/location-settings.html
  src/components/NativeMapModal.tsx
  src/components/shared/UniversalLocationSettingsScreen.tsx
  src/contexts/AuthContext.tsx
  src/screens/KakaoLoginWebView.tsx
Due: eslint

fix: iOS GPS 위치 권한 요청 및 재시도 로직 추가
  src/components/NativeMapModal.tsx
Due: eslint

chore: iOS Info.plist에 NSLocationAlwaysAndWhenInUseUsageDescription 추가
  ios/HonbabnonoApp/Info.plist
Due: none

fix: 토큰 검증 API 엔드포인트 수정 (/auth/profile -> /user/me)
  src/contexts/AuthContext.tsx
Due: eslint

feat: GPS 체크인 및 리뷰 시스템 구현
  backend/src/controllers/meetupController.js
  backend/src/controllers/reviewController.js
  backend/src/models/Meetup.js
  backend/src/models/MeetupParticipant.js
  backend/src/models/Review.js
  backend/src/models/index.js
  backend/src/routes/meetups.js
  backend/src/routes/reviews.js
  backend/src/server.js
  public/location-settings.html
  src/components/CheckInButton.tsx
  src/components/NativeMapModal.tsx
  src/components/NeighborhoodSelector.tsx
  src/components/shared/UniversalHomeScreen.tsx
  src/components/shared/UniversalMeetupDetailScreen.tsx
  src/navigation/RootNavigator.tsx
  src/screens/WriteReviewScreen.tsx
Due: eslint

fix: 찜(wishlist) 상태 확인 500 에러 수정
  backend/src/controllers/meetupController.js
  backend/src/models/Wishlist.js
  backend/src/models/index.js
  backend/src/routes/meetups.js
  src/screens/MeetupDetailScreen.tsx
Due: eslint

chore: backend/.env를 Git 추적에서 제외
  backend/.env
Due: none

fix: API 오류 수정 (reviewable-meetups, FAQ)
  server/index.js
Due: eslint, comprehensive-api-tests

fix: 전체 API 테스트 및 오류 수정
  server/index.js
Due: eslint, comprehensive-api-tests

chore: 컬러 팔레트 골드 & 브라운으로 변경 및 배경색 흰색 적용
  src/styles/colors.ts
Due: eslint

feat: 모임 탐색 화면 구현 (지도/리스트 뷰)
  backend/src/controllers/meetupController.js
  backend/src/routes/meetups.js
  server/index.js
  src/components/MeetupMapView.tsx
  src/components/MeetupMarkerPopup.tsx
  src/components/shared/UniversalExploreScreen.tsx
  src/navigation/TabNavigator.tsx
  src/navigation/routes.ts
  src/screens/ExploreScreen.tsx
Due: eslint, comprehensive-api-tests

fix: NotificationBell import 수정 (named export)
  src/components/shared/UniversalExploreScreen.tsx
Due: eslint

feat: 지도 줌 컨트롤 기능 추가
  src/components/MeetupMapView.tsx
Due: eslint

feat: 모임 탐색 화면 헤더 개선 및 검색 기능 추가
  src/components/shared/UniversalExploreScreen.tsx
Due: eslint

fix: 모임 탐색 헤더 스타일 통일 및 아이콘 수정
  src/components/shared/UniversalExploreScreen.tsx
Due: eslint

feat: 마이페이지 리뉴얼 - 설정 화면 분리
  src/components/shared/UniversalMyPageScreen.tsx
  src/components/shared/UniversalSettingsScreen.tsx
  src/navigation/RootNavigator.tsx
  src/screens/SettingsScreen.tsx
Due: eslint

fix: 아이콘 렌더링 개선 - bell, settings 등 주요 아이콘에 View 기반 커스텀 구현 추가
  src/components/SimpleIcon.tsx
Due: eslint

fix: 중복 헤더 제거 및 헤더 스타일 통일
  src/components/shared/UniversalHomeScreen.tsx
  src/components/shared/UniversalMyPageScreen.tsx
  src/navigation/TabNavigator.tsx
Due: eslint

chore: API IP 주소 변경 (192.168.0.101 -> 172.16.1.74)
  src/components/shared/UniversalCreateMeetupScreen.tsx
  src/components/shared/UniversalLoginScreen.tsx
  src/screens/KakaoLoginWebView.tsx
  src/services/apiClient.ts
  src/services/chatService.ts
Due: eslint

refactor: API IP 주소를 중앙 관리하도록 변경
  src/components/shared/UniversalCreateMeetupScreen.tsx
  src/components/shared/UniversalLoginScreen.tsx
  src/screens/KakaoLoginWebView.tsx
  src/services/apiClient.ts
  src/services/chatService.ts
Due: eslint

feat: 지역 설정의 검색 반경(radius) 기능 구현
  src/components/shared/UniversalExploreScreen.tsx
  src/components/shared/UniversalHomeScreen.tsx
  src/store/userStore.ts
Due: eslint

feat: AI 검색 기능 개선 - 추천 이유 및 100점 만점 점수 시스템
  backend/src/server.js
  public/location-settings.html
  server/config/aiSearchConfig.js
  server/index.js
  src/components/NativeMapModal.tsx
  src/components/shared/UniversalAISearchResultScreen.tsx
  src/components/shared/UniversalHomeScreen.tsx
  src/navigation/RootNavigator.tsx
  src/screens/AISearchResultScreen.web.tsx
  src/services/aiSearchService.ts
Due: eslint, comprehensive-api-tests

feat: 카테고리 아이콘을 이모지로 변경
  src/components/MeetupCard.tsx
  src/components/shared/UniversalHomeScreen.tsx
  src/components/shared/UniversalMeetupDetailScreen.tsx
  src/constants/categories.ts
  src/screens/HomeScreen.web.tsx
  src/screens/MeetupDetailScreen.web.tsx
Due: eslint

fix: API_HOSTS 순서 변경 (localhost 우선)
  src/services/apiClient.ts
Due: eslint

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: node_modules/
  comprehensive-api-tests: any of: ^(server/|tests/).*\.(js|ts)$
  auth-tests: any of: ^(server/.*auth|tests/.*auth).*\.(js|ts)$
  meetup-tests: any of: ^(server/.*meetup|tests/.*meetup).*\.(js|ts)$
  payment-tests: any of: ^(server/.*(payment|point)|tests/.*(payment|point)).*\.(js|ts)$
  chat-tests: any of: ^(server/.*chat|tests/.*chat).*\.(js|ts)$
  admin-upload-tests: any of: ^(server/.*(admin|upload)|tests/.*(admin|upload)).*\.(js|ts)$
