Repository leegyeongyoon/honbabnono: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, comprehensive-api-tests, auth-tests, meetup-tests, payment-tests, chat-tests, admin-upload-tests

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

comprehensive-api-tests:
  name: Comprehensive API Tests
  entry: NODE_ENV=test npm test tests/comprehensive-api.test.js
  language: node
  pass_filenames: false

auth-tests:
  name: Authentication Tests
  entry: NODE_ENV=test npm test tests/auth-detailed.test.js
  language: node
  pass_filenames: false

meetup-tests:
  name: Meetup API Tests
  entry: NODE_ENV=test npm test tests/meetup-detailed.test.js
  language: node
  pass_filenames: false

payment-tests:
  name: Payment & Points Tests
  entry: NODE_ENV=test npm test tests/payment-points.test.js
  language: node
  pass_filenames: false

chat-tests:
  name: Chat API Tests
  entry: NODE_ENV=test npm test tests/chat-api.test.js
  language: node
  pass_filenames: false

admin-upload-tests:
  name: Admin & Upload Tests
  entry: NODE_ENV=test npm test tests/admin-upload.test.js
  language: node
  pass_filenames: false

feat: 홈 배너 광고 시스템 연결 + 모임 시드 데이터 생성
  src/screens/HomeScreen.web.tsx
Due: eslint

fix: Figma 디자인 변경에 따른 E2E 테스트 매칭 패턴 업데이트
  e2e/02-home-meetup-list.spec.ts
  e2e/30-mypage-detail.spec.ts
  e2e/31-wishlist.spec.ts
  e2e/32-notifications-detail.spec.ts
  e2e/33-settings.spec.ts
  e2e/37-review-crud.spec.ts
  e2e/44-advertisements.spec.ts
Due: eslint

docs: 선주문형 외식 예약 플랫폼 피벗 계획서 + 사업 README
  docs/PIVOT-PLAN.md
  docs/README-BUSINESS.md
Due: none

feat: v2 피벗 Phase 0+1 — 선주문형 외식 예약 플랫폼 기반 구축
  CLAUDE.md
  README.md
  docs/README-BUSINESS.md
  package.json
  server/config/portone.js
  server/index.js
  server/middleware/auth.js
  server/middleware/schemas/menus.schemas.js
  server/middleware/schemas/merchants.schemas.js
  server/middleware/schemas/orders.schemas.js
  server/middleware/schemas/payments.schemas.js
  server/middleware/schemas/reservations.schemas.js
  server/middleware/schemas/restaurants.schemas.js
  server/migrations/100_create_pivot_v2_tables.sql
  server/migrations/runner.js
  server/modules/menus/controller.js
  server/modules/menus/routes.js
  server/modules/merchants/controller.js
  server/modules/merchants/routes.js
  server/modules/orders/controller.js
  server/modules/orders/routes.js
  server/modules/payments/controller.js
  server/modules/payments/routes.js
  server/modules/reservations/controller.js
  server/modules/reservations/routes.js
  server/modules/restaurants/controller.js
  server/modules/restaurants/routes.js
Due: eslint, comprehensive-api-tests, auth-tests, payment-tests

feat: Phase 2 — 점주 대시보드 (merchant/) 앱 구축
  merchant/package.json
  merchant/public/index.html
  merchant/src/App.tsx
  merchant/src/components/Dashboard.tsx
  merchant/src/components/Login.tsx
  merchant/src/components/MenuManagement.tsx
  merchant/src/components/MerchantSettings.tsx
  merchant/src/components/OrderManagement.tsx
  merchant/src/components/ReservationBoard.tsx
  merchant/src/components/SettlementHistory.tsx
  merchant/src/components/StoreInfo.tsx
  merchant/src/index.tsx
  merchant/src/react-app-env.d.ts
  merchant/src/utils/api.ts
  merchant/tsconfig.json
Due: eslint

feat: Phase 3 — 고객 프론트엔드 핵심 화면 및 Store 구축
  src/components/RouterApp.tsx
  src/screens/MyReservationsScreen.web.tsx
  src/screens/PaymentScreen.web.tsx
  src/screens/ReservationConfirmScreen.web.tsx
  src/screens/ReservationFormScreen.web.tsx
  src/screens/RestaurantDetailScreen.web.tsx
  src/screens/RestaurantHomeScreen.web.tsx
  src/services/restaurantApiService.ts
  src/store/cartStore.ts
  src/store/paymentStore.ts
  src/store/reservationStore.ts
  src/store/restaurantStore.ts
Due: eslint

feat: Phase 4+5 — 실시간 시스템 + 리뷰/검색 전환
  server/index.js
  server/modules/orders/controller.js
  server/modules/reservations/controller.js
  server/modules/reservations/socket.js
  server/modules/reviews/restaurant-review.controller.js
  server/modules/reviews/restaurant-review.routes.js
  server/scheduler/index.js
  server/scheduler/jobs/arrivalReminder.js
  src/components/RouterApp.tsx
  src/screens/SearchRestaurantsScreen.web.tsx
  src/screens/WriteRestaurantReviewScreen.web.tsx
Due: eslint, comprehensive-api-tests

feat: Phase 6 — 어드민 v2 매장/예약 관리 화면 + API 추가
  admin/src/App.tsx
  admin/src/components/ReservationMonitoring.tsx
  admin/src/components/RestaurantManagement.tsx
  server/modules/admin/controller.js
  server/modules/admin/routes.js
Due: eslint, comprehensive-api-tests, admin-upload-tests

fix+feat: Phase 8 — v2 컨트롤러 스키마 drift 수정 + 시드 인프라 + 스케줄러 보강
  e2e/helpers/seed.ts
  e2e/v2-01-restaurant-browse.spec.ts
  e2e/v2-02-reservation-flow.spec.ts
  server/modules/auth/controller.js
  server/modules/auth/routes.js
  server/modules/reservations/controller.js
  server/modules/restaurants/controller.js
  server/scheduler/jobs/arrivalReminder.js
  tests/unit/reservations/reservations.controller.test.js
  tests/unit/restaurants/restaurants.controller.test.js
Due: eslint, comprehensive-api-tests, auth-tests

fix+feat: Phase 9 — 화면×API 전수 정합성 수정 + 누락 라우트 보강
  server/modules/menus/controller.js
  server/modules/menus/routes.js
  server/modules/restaurants/controller.js
  server/modules/restaurants/routes.js
  server/modules/reviews/controller.js
  server/modules/reviews/routes.js
  src/services/restaurantApiService.ts
Due: eslint, comprehensive-api-tests

docs: 정책/기획 문서 구체화 — 운영정책서 신규 + 사업기획서 보강
  docs/OPERATION-POLICY.md
  docs/PIVOT-PLAN.md
  docs/README-BUSINESS.md
Due: none

fix: v2 피벗 머지 후 크리티컬 6건 수정 + 문서 고도화
  database_schema_clean.sql
  docs/GPT-REVIEW-FEEDBACK.md
  docs/MODOO-STARTUP-APPLICATION.md
  docs/OPERATION-POLICY.md
  docs/README-BUSINESS.md
  server/modules/meetups/helpers/notification.helper.js
  server/modules/payments/controller.js
  server/modules/points/controller.js
  server/modules/restaurants/controller.js
  server/modules/reviews/restaurant-review.controller.js
  server/scheduler/jobs/monthlyBestHost.js
  server/scheduler/jobs/statusTransition.js
  src/services/restaurantApiService.ts
Due: eslint, comprehensive-api-tests, meetup-tests, payment-tests

fix: 서버 시작 시 DB 마이그레이션 자동 실행
  server/start.js
  supervisord.conf
Due: eslint, comprehensive-api-tests

fix: v2 테이블 생성 fallback 추가 - 이전 마이그레이션 실패 시에도 v2 테이블 보장
  server/start.js
Due: eslint, comprehensive-api-tests

chore: 임시 진단 엔드포인트 추가 (v2 테이블 디버깅용)
  server/index.js
Due: eslint, comprehensive-api-tests

chore: 진단 엔드포인트 v2 테이블 생성 트리거 추가
  server/index.js
Due: eslint, comprehensive-api-tests

fix: v2 SQL을 개별 statement로 분리 실행 - 기존 테이블 충돌 해결
  server/index.js
  server/start.js
Due: eslint, comprehensive-api-tests

fix: 트레이딩 orders 테이블 충돌 해결 + 진단 엔드포인트 제거
  server/index.js
  server/migrations/101_fix_orders_table_conflict.sql
Due: eslint, comprehensive-api-tests

feat: v2 데모 데이터 시딩 + API 데이터 매핑 수정 + 타이틀 변경
  dist/bundle.js
  server/migrations/102_seed_demo_restaurants.sql
  server/start.js
  src/screens/RestaurantHomeScreen.web.tsx
  src/services/restaurantApiService.ts
  web/index.html
Due: eslint, comprehensive-api-tests

fix: Docker 빌드 안정화 - merchant 빌드 실패 시 전체 중단 방지
  .github/workflows/deploy-rpi.yml
  Dockerfile
  merchant/package.json
Due: none

feat: 전체 화면 디자인 시스템 통일 - 6개 화면 고도화
  dist/bundle.js
  dist/bundle.js.LICENSE.txt
  src/screens/ChatScreen.web.tsx
  src/screens/ExploreScreen.web.tsx
  src/screens/MyPageScreen.web.tsx
  src/screens/MyReservationsScreen.web.tsx
  src/screens/RestaurantDetailScreen.web.tsx
  src/screens/SearchRestaurantsScreen.web.tsx
Due: eslint

feat: 프로덕션급 UI 고도화 - 글로벌 CSS + 홈 리디자인 + 탭바 개선
  dist/bundle.js
  src/components/BottomTabBar.tsx
  src/screens/ChatScreen.web.tsx
  src/screens/ExploreScreen.web.tsx
  src/screens/LoginScreen.web.tsx
  src/screens/MyPageScreen.web.tsx
  src/screens/MyReservationsScreen.web.tsx
  src/screens/PaymentScreen.web.tsx
  src/screens/ReservationConfirmScreen.web.tsx
  src/screens/ReservationFormScreen.web.tsx
  src/screens/RestaurantDetailScreen.web.tsx
  src/screens/RestaurantHomeScreen.web.tsx
  src/screens/SearchRestaurantsScreen.web.tsx
  web/index.html
Due: eslint

feat: 점주 시스템 고도화 + 예약 플로우 수정 + 결제/정산 연동
  admin/src/App.tsx
  admin/src/components/Login.tsx
  admin/src/components/MerchantManagement.tsx
  dist/bundle.js
  merchant/package-lock.json
  merchant/package.json
  merchant/src/App.tsx
  merchant/src/components/Dashboard.tsx
  merchant/src/components/Login.tsx
  merchant/src/components/MenuManagement.tsx
  merchant/src/components/MerchantRegister.tsx
  merchant/src/components/MerchantSettings.tsx
  merchant/src/components/OrderManagement.tsx
  merchant/src/components/ReservationBoard.tsx
  merchant/src/components/SettlementHistory.tsx
  merchant/src/components/Signup.tsx
  merchant/src/components/StoreInfo.tsx
  merchant/src/components/StoreRegister.tsx
  server/index.js
  server/middleware/schemas/restaurants.schemas.js
  server/migrations/103_merchant_upgrade.sql
  server/modules/admin/controller.js
  server/modules/admin/routes.js
  server/modules/auth/controller.js
  server/modules/menus/controller.js
  server/modules/menus/routes.js
  server/modules/merchants/routes.js
  server/modules/merchants/upload.js
  server/modules/orders/controller.js
  server/modules/orders/routes.js
  server/modules/payments/controller.js
  server/modules/payments/routes.js
  server/modules/restaurants/controller.js
  server/modules/restaurants/routes.js
  server/modules/settlements/controller.js
  server/modules/settlements/routes.js
  server/scheduler/index.js
  server/scheduler/jobs/settlementProcess.js
  tests/unit/payments/payments.controller.test.js
  tests/unit/restaurants/restaurants.controller.test.js
Due: eslint, comprehensive-api-tests, auth-tests, payment-tests, admin-upload-tests

fix: 크리티컬 버그 수정 + SPA 네비게이션 개선
  dist/bundle.js
  server/migrations/104_ensure_columns.sql
  server/modules/payments/controller.js
  server/modules/reservations/controller.js
  server/modules/restaurants/controller.js
  src/components/AdvertisementBanner.web.tsx
  src/components/RouterApp.tsx
  src/screens/LoginScreen.web.tsx
  src/services/restaurantApiService.ts
  src/store/cartStore.ts
Due: eslint, comprehensive-api-tests, payment-tests

fix: 크리티컬 버그 10건 수정 — 리뷰/주문/예약 시스템 전반
  server/modules/orders/controller.js
  server/modules/reservations/controller.js
  server/modules/reviews/restaurant-review.controller.js
  src/screens/MyReservationsScreen.web.tsx
  src/screens/ReservationConfirmScreen.web.tsx
  src/screens/RestaurantDetailScreen.web.tsx
  src/screens/WriteRestaurantReviewScreen.web.tsx
  src/services/restaurantApiService.ts
Due: eslint, comprehensive-api-tests

fix: 9건 버그 수정 — 찜 상태/네비게이션/장바구니/API 타입 안전성
  server/middleware/auth.js
  server/modules/restaurants/controller.js
  server/modules/restaurants/routes.js
  src/hooks/useWebNavigation.ts
  src/screens/MyReservationsScreen.web.tsx
  src/screens/ReservationConfirmScreen.web.tsx
  src/screens/ReservationFormScreen.web.tsx
  src/screens/RestaurantDetailScreen.web.tsx
  src/services/restaurantApiService.ts
Due: eslint, comprehensive-api-tests, auth-tests

feat: 예약 취소 시 자동 환불 처리 + 환불 정보 표시
  server/modules/reservations/controller.js
  src/screens/MyReservationsScreen.web.tsx
  src/services/restaurantApiService.ts
  src/store/reservationStore.ts
Due: eslint, comprehensive-api-tests

feat: 예약 이벤트 알림 시스템 연동
  server/modules/reservations/controller.js
Due: eslint, comprehensive-api-tests

feat: 매장 검색 강화 — 메뉴/주소/설명 통합 검색
  server/modules/restaurants/controller.js
Due: eslint, comprehensive-api-tests

fix: 알림 화면 개선 — 예약 타입 추가 + 탭 시 화면 이동
  src/screens/NotificationScreen.web.tsx
Due: eslint

feat: 노쇼 처리 시 고객 알림 추가 + 쿼리에 매장명 포함
  server/modules/reservations/controller.js
Due: eslint, comprehensive-api-tests

feat: 매장 목록 정렬/필터 강화 + 결제/등급 버그 수정
  server/modules/restaurants/controller.js
  server/modules/restaurants/routes.js
  src/components/shared/UniversalMyPageScreen.tsx
  src/screens/MyPageScreen.web.tsx
  src/screens/PaymentScreen.web.tsx
  src/screens/RestaurantHomeScreen.web.tsx
  src/services/restaurantApiService.ts
Due: eslint, comprehensive-api-tests

fix: 채팅 권한 토큰 추가 + FAB 매장검색 이동 + riceIndex 타입 수정
  screenshot-all.ts
  scripts/run-seed.js
  src/screens/ChatScreen.web.tsx
  src/services/chatApiService.ts
Due: eslint

fix: 점주 대시보드/관리자 리뷰/내 리뷰 빈 화면 버그 수정 + 데모 시드 스크립트 추가
  admin/src/components/ReviewManagement.tsx
  merchant/src/components/Dashboard.tsx
  merchant/src/components/ReservationBoard.tsx
  merchant/src/utils/formatTime.ts
  scripts/README-DEMO.md
  scripts/diagnose-pages.ts
  scripts/record-demo.ts
  scripts/seed-demo.js
  server/modules/user/controller.js
Due: eslint, comprehensive-api-tests

fix: 매장 목록/검색 API 500 에러 해결 + 녹화 스크립트 워크플로우 중심 재작성
  scripts/record-demo.ts
  server/modules/restaurants/controller.js
Due: eslint, comprehensive-api-tests

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: node_modules/
  comprehensive-api-tests: any of: ^(server/|tests/).*\.(js|ts)$
  auth-tests: any of: ^(server/.*auth|tests/.*auth).*\.(js|ts)$
  meetup-tests: any of: ^(server/.*meetup|tests/.*meetup).*\.(js|ts)$
  payment-tests: any of: ^(server/.*(payment|point)|tests/.*(payment|point)).*\.(js|ts)$
  chat-tests: any of: ^(server/.*chat|tests/.*chat).*\.(js|ts)$
  admin-upload-tests: any of: ^(server/.*(admin|upload)|tests/.*(admin|upload)).*\.(js|ts)$
