Repository leegyeongyoon/honbabnono: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, comprehensive-api-tests, auth-tests, meetup-tests, payment-tests, chat-tests, admin-upload-tests

.pre-commit-config.yaml:

# Pre-commit configuration for automated testing
repos:
  # JavaScript/Node.js linting and testing
  - repo: local
    hooks:
      # ESLint for code style
      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        files: \.(js|jsx|ts|tsx)$
        exclude: node_modules/
      
      # Unit tests
      - id: unit-tests
        name: Unit Tests
        entry: npm run test:unit
        language: node
        pass_filenames: false
        always_run: true
        
      # Comprehensive API tests
      - id: comprehensive-api-tests
        name: Comprehensive API Tests
        entry: NODE_ENV=test npm test tests/comprehensive-api.test.js
        language: node  
        pass_filenames: false
        files: ^(server/|tests/).*\.(js|ts)$

      # Authentication tests
      - id: auth-tests
        name: Authentication Tests
        entry: NODE_ENV=test npm test tests/auth-detailed.test.js
        language: node
        pass_filenames: false
        files: ^(server/.*auth|tests/.*auth).*\.(js|ts)$

      # Meetup API tests
      - id: meetup-tests
        name: Meetup API Tests
        entry: NODE_ENV=test npm test tests/meetup-detailed.test.js
        language: node
        pass_filenames: false
        files: ^(server/.*meetup|tests/.*meetup).*\.(js|ts)$

      # Payment & Points tests
      - id: payment-tests
        name: Payment & Points Tests
        entry: NODE_ENV=test npm test tests/payment-points.test.js
        language: node
        pass_filenames: false
        files: ^(server/.*(payment|point)|tests/.*(payment|point)).*\.(js|ts)$

      # Chat API tests
      - id: chat-tests
        name: Chat API Tests
        entry: NODE_ENV=test npm test tests/chat-api.test.js
        language: node
        pass_filenames: false
        files: ^(server/.*chat|tests/.*chat).*\.(js|ts)$

      # Admin & Upload tests
      - id: admin-upload-tests
        name: Admin & Upload Tests
        entry: NODE_ENV=test npm test tests/admin-upload.test.js
        language: node
        pass_filenames: false
        files: ^(server/.*(admin|upload)|tests/.*(admin|upload)).*\.(js|ts)$
        
      # Test coverage check with threshold
      - id: coverage-check
        name: Coverage Check (70% minimum)
        entry: bash -c 'npm run test:coverage && COVERAGE=$(npx nyc report --reporter=text-summary | grep "Lines" | grep -o "[0-9.]*%" | head -1 | sed "s/%//"); if (( $(echo "$COVERAGE < 70" | bc -l) )); then echo "âŒ Coverage ${COVERAGE}% below 70% threshold"; exit 1; fi'
        language: node
        pass_filenames: false
        always_run: true

  # Generic hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      # Basic file checks
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      
      # Security checks
      - id: detect-private-key
      - id: check-case-conflict
      
      # Large file prevention
      - id: check-added-large-files
        args: ['--maxkb=1000']

# Global configuration
default_language_version:
  node: 20

fail_fast: false

# Minimum coverage thresholds (can be adjusted)
ci:
  skip: [unit-tests, api-tests, coverage-check]

🔧 ESLint fixes and CI/CD improvements
  .eslintignore
  .eslintrc.js
  .github/workflows/ci-cd.yml
  package-lock.json
  package.json
Due: eslint

🔧 데이터베이스 SSL 설정 수정 - 테스트 환경 연결 오류 해결
  .env.test
  server/index.js
Due: eslint, comprehensive-api-tests

🔧 CI/CD 파이프라인에 데이터베이스 스키마 초기화 추가
  .github/workflows/ci-cd.yml
Due: none

🔧 UTF-8 인코딩 문제 해결 - 깨끗한 데이터베이스 스키마 생성
  .github/workflows/ci-cd.yml
  database_schema_clean.sql
Due: none

✅ 누락된 테스트 파일들 추가 - 완전한 API 테스트 커버리지 완성
  server/uploads/meetup-1764332928463-795419605.png
  server/uploads/meetup-1764332928618-435756601.png
  tests/attendance-checkin.test.js
  tests/deposits-blocking.test.js
  tests/notifications-badges.test.js
  tests/profile-invite-faq.test.js
  tests/reviews-management.test.js
Due: eslint, comprehensive-api-tests

🧪 테스트 성공률 대폭 향상 - API 안정성 강화
  .env.test
  server/index.js
  tests/auth-detailed.test.js
  tests/comprehensive-api.test.js
  tests/meetup-detailed.test.js
  tests/user-profile.test.js
Due: eslint, comprehensive-api-tests, auth-tests, meetup-tests

🔧 JWT 토큰 인증 완전 해결 - 테스트 성공률 33% → 75% 향상
  server/index.js
  tests/reviews-management.test.js
  tests/user-profile.test.js
Due: eslint, comprehensive-api-tests

✨ 관리자 계정 관리 시스템 구현 - 완전한 CRUD 기능 제공
  admin/src/App.tsx
  admin/src/components/AdminManagement.tsx
  admin/src/components/Login.tsx
  admin/src/components/Settings.tsx
  server/index.js
Due: eslint, comprehensive-api-tests

🚀 관리자 상세 정보 시스템 완전 구현 - 모든 데이터베이스 오류 해결
  admin/src/components/MeetupManagement.tsx
  admin/src/components/UserManagement.tsx
  server/index.js
Due: eslint, comprehensive-api-tests

✨ 채팅 UI 개선 및 밥알지수 시스템 완전 통합
  admin/src/App.tsx
  admin/src/components/ChatbotSettings.tsx
  admin/src/components/Reports.tsx
  backend/src/routes/admin.ts
  server/index.js
  src/screens/ChatScreen.web.tsx
Due: eslint, comprehensive-api-tests

✨ 1대1 채팅 권한 시스템 완전 구현
  backend/src/controllers/meetupController.js
  backend/src/controllers/userController.js
  backend/src/models/Meetup.js
  backend/src/models/User.js
  backend/src/routes/chat.js
  server/index.js
  src/screens/ChatScreen.web.tsx
  src/screens/CreateMeetupScreen.web.tsx
  src/services/chatApiService.ts
  tests/direct-chat-permission.test.js
Due: eslint, comprehensive-api-tests, chat-tests

✨ /api/meetups/home 엔드포인트 구현 완료
  backend/src/controllers/meetupController.js
  backend/src/routes/meetups.js
Due: eslint

fix: 사용자 프로필 이미지 표시 오류 해결 및 MCP 설정 추가
  .gitignore
  .mcp.json.example
  backend/src/models/User.js
  backend/src/models/index.js
  backend/src/server.js
  notion-mcp-setup-guide.md
  src/screens/MyPageScreen.web.tsx
  src/services/userApiService.ts
Due: eslint

✨ 광고 디테일 페이지 시스템 완전 구현
  admin/src/App.tsx
  admin/src/components/AdvertisementManagement.tsx
  admin/src/components/Login.tsx
  backend/.env
  backend/package-lock.json
  backend/package.json
  backend/src/models/Admin.js
  backend/src/models/Advertisement.js
  backend/src/models/Notification.js
  backend/src/models/UserNotificationSetting.js
  backend/src/models/index.js
  backend/src/routes/admin.js
  backend/src/routes/advertisements.js
  backend/src/routes/notifications.js
  backend/src/server.js
  backend/src/services/notificationService.js
  backend/uploads/advertisements/ad-1765337687645-998391319.png
  src/components/AdvertisementBanner.tsx
  src/components/AdvertisementBanner.web.tsx
  src/components/NotificationBell.tsx
  src/components/NotificationList.tsx
  src/components/RouterApp.tsx
  src/components/WebTabNavigator.tsx
  src/hooks/useNotifications.ts
  src/screens/AdvertisementDetailScreen.tsx
  src/screens/HomeScreen.web.tsx
  src/screens/NotificationScreen.web.tsx
  src/services/advertisementApiService.ts
  src/services/notificationApiService.ts
  src/types/notification.ts
Due: eslint

✨ 관리자 대시보드 및 인증 시스템 완전 개선
  admin/package-lock.json
  admin/package.json
  admin/src/components/AdvertisementManagement.tsx
  admin/src/components/BlockedUserManagement.tsx
  admin/src/components/Dashboard.tsx
  admin/src/components/Login.tsx
  server/index.js
Due: eslint, comprehensive-api-tests

✨ 모임 홈 카테고리 색깔 표준화 및 아이콘 시스템 개선
  src/components/Icon.tsx
  src/constants/categories.ts
  src/screens/HomeScreen.web.tsx
Due: eslint

fix: 마이페이지 밥알지수 표시 오류 수정
  backend/src/controllers/userController.js
  backend/src/middleware/auth.js
  backend/src/routes/users.js
  backend/src/server.js
  src/screens/MyPageScreen.tsx
  src/screens/MyPageScreen.web.tsx
  src/services/userApiService.ts
  src/store/userStore.ts
Due: eslint

fix: ChatScreen.web.tsx userStore 연동으로 사용자 인증 개선
  src/screens/ChatScreen.web.tsx
Due: eslint

fix: 관리자 대시보드 API URL localhost로 수정
  admin/src/components/Dashboard.tsx
Due: eslint

fix: 모임 상세 조회에서 view_count 컬럼 오류 수정
  server/index.js
Due: eslint, comprehensive-api-tests

design: 헤더 우측 버튼 통일화
  src/screens/ChatScreen.web.tsx
  src/screens/MeetupDetailScreen.web.tsx
  src/screens/MyPageScreen.web.tsx
Due: eslint

design: 전체 헤더 크기 및 레이아웃 표준화
  src/screens/ChatScreen.web.tsx
  src/screens/JoinedMeetupsScreen.web.tsx
  src/screens/MeetupListScreen.web.tsx
  src/screens/MyMeetupsScreen.web.tsx
  src/screens/MyPageScreen.web.tsx
Due: eslint

fix: 하드코딩된 기본값들을 0으로 수정
  src/screens/MyPageScreen.web.backup.tsx
  src/screens/MyPageScreen.web.tsx
Due: eslint

feat: 공지사항 기능 완전 구현
  admin/src/App.tsx
  admin/src/components/NoticeManagement.tsx
  dist/bundle.js
  dist/bundle.js.LICENSE.txt
  dist/icons/bbq.jpeg
  dist/icons/hotpot.jpeg
  dist/index.html
  server/index.js
  src/components/RouterApp.tsx
  src/screens/NoticeDetailScreen.web.tsx
  src/screens/NoticesScreen.web.tsx
  src/screens/NotificationSettingsScreen.web.tsx
Due: eslint, comprehensive-api-tests

feat: 하단 네비게이션바 채팅 알림 배지 시스템 구현
  server/index.js
  src/components/BottomTabBar.tsx
  src/components/ChatBadge.tsx
  src/components/MeetupCard.tsx
  src/screens/ChatScreen.web.tsx
  src/screens/MeetupDetailScreen.web.tsx
  src/services/chatApiService.ts
  src/services/chatService.ts
  src/utils/imageUtils.ts
Due: eslint, comprehensive-api-tests

fix: 모임 생성 마법사 나이 설정 기능 오류 수정
  src/components/RouterApp.tsx
  src/screens/CreateMeetupWizard.web.tsx
  src/styles/big-calendar.css
  src/styles/datepicker.css
Due: eslint

chore: 모임 생성 기능 의존성 및 설정 파일 업데이트
  package-lock.json
  package.json
  src/screens/CreateMeetupScreen.web.tsx
  src/screens/HomeScreen.web.tsx
  src/styles/custom-datepicker.css
  src/styles/datetime.css
  webpack.config.js
Due: eslint

fix: 관리자 공지사항 API 인증 및 라우터 순서 문제 수정
  server/index.js
Due: eslint, comprehensive-api-tests

fix: React Native Web JSX 텍스트 노드 오류 해결
  src/screens/CreateMeetupWizard.web.tsx
Due: eslint

fix: 카카오 맵 API 키 환경변수 및 통계 수집 쿼리 개선
  .env
  server/index.js
Due: eslint, comprehensive-api-tests

fix: React Native Web JSX 조건부 렌더링 텍스트 노드 오류 완전 수정
  src/hooks/useMeetups.ts
  src/hooks/useNotifications.ts
  src/screens/CreateMeetupWizard.web.tsx
  src/types/notification.ts
  webpack.config.js
Due: eslint

feat: 모임 생성 기능 개선 및 결제 시스템 완성
  server/config/s3Config.js
  server/index.js
  src/constants/categories.ts
  src/screens/CreateMeetupWizard.web.tsx
Due: eslint, comprehensive-api-tests

feat: 환경별 로그 레벨 관리 시스템 구현
  server/config/logger.js
  server/config/s3Config.js
  server/index.js
Due: eslint, comprehensive-api-tests

feat: AI 기반 스마트 모임 검색 시스템 구현
  docs/AI_SEARCH_GUIDE.md
  package-lock.json
  package.json
  src/screens/HomeScreen.web.tsx
  src/screens/SearchScreen.web.tsx
  src/services/aiSearchService.ts
Due: eslint

fix: 검색 기능 실제 동작하도록 API 연동 구현
  src/hooks/useMeetups.ts
  src/screens/SearchScreen.web.tsx
Due: eslint

fix: AI 검색 시스템 카테고리 매칭 정확도 개선
  .env
  server/index.js
  src/components/RouterApp.tsx
  src/screens/AISearchResultScreen.web.tsx
  src/screens/HomeScreen.web.tsx
  src/services/aiSearchService.ts
  webpack.config.js
Due: eslint, comprehensive-api-tests

chore: 변경 내용 커밋
  scripts/seed-meetups.js
Due: eslint

chore: ai 카테고리 변경
  src/screens/AISearchResultScreen.web.tsx
Due: eslint

feat: GitHub Secrets를 통한 OpenAI API 키 보안 관리 및 대화형 AI 검색 구현
  .github/workflows/ci-cd.yml
  .github/workflows/deploy.yml
  Dockerfile
  package-lock.json
  package.json
  server/config/aiSearchConfig.js
  server/index.js
  src/screens/AISearchResultScreen.web.tsx
  src/services/aiSearchService.ts
Due: eslint, comprehensive-api-tests

feat: AI 검색 시스템 토큰 최적화 및 감정 기반 추천 기능 구현
  server/config/aiSearchConfig.js
  server/index.js
Due: eslint, comprehensive-api-tests
